@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 7, ../sass/style.scss */
body {
  font-family: "Noto Sans", "微軟正黑體", STHeiti, arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.085rem;
  color: #000000;
}
@media screen and (max-width: 576px) {
  /* line 7, ../sass/style.scss */
  body {
    font-size: 15px;
  }
}

/* line 19, ../sass/style.scss */
body.noScroll {
  overflow: hidden;
}

/* line 23, ../sass/style.scss */
a {
  color: #2F393C;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 26, ../sass/style.scss */
a:hover, a:active, a:focus {
  color: #A9BCD0;
  outline: none;
  text-decoration: none;
}

/* line 35, ../sass/style.scss */
p {
  margin-bottom: 1.5rem;
}

/* line 39, ../sass/style.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-family: "Noto Sans", "微軟正黑體", STHeiti, arial, sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 900;
}

/* line 52, ../sass/style.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: "Noto Sans", "微軟正黑體", STHeiti, arial, sans-serif;
}

/* line 60, ../sass/style.scss */
textarea {
  min-height: 100px;
  resize: none;
}

/* line 65, ../sass/style.scss */
.cus-form {
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* line 69, ../sass/style.scss */
.cus-form,
#twzipcode select {
  width: 100%;
  padding: 0.45rem 0.75rem;
  color: #000000;
  background-color: #fff;
  border: 1px solid rgba(47, 57, 60, 0.3);
  box-shadow: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 79, ../sass/style.scss */
.cus-form:hover, .cus-form:focus, .cus-form:active,
#twzipcode select:hover,
#twzipcode select:focus,
#twzipcode select:active {
  color: #647882;
  border-color: rgba(244, 129, 32, 0.3);
}

/* line 87, ../sass/style.scss */
::-webkit-selection {
  color: #ffffff;
  background: #F48120;
}

/* line 92, ../sass/style.scss */
::-moz-selection {
  color: #ffffff;
  background: #F48120;
}

/* line 97, ../sass/style.scss */
::selection {
  color: #ffffff;
  background: #F48120;
}

/* line 102, ../sass/style.scss */
.col-form-label {
  padding-top: calc(0.6rem - 1px * 2);
}

/* line 107, ../sass/style.scss */
.btn {
  min-width: 100px;
  padding: 0.5rem 0.75rem;
  font-size: "Noto Sans", "微軟正黑體", STHeiti, arial, sans-serif;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  letter-spacing: 0.15rem;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 116, ../sass/style.scss */
.btn:hover {
  text-decoration: none;
  outline: none;
}

/* line 122, ../sass/style.scss */
.btn-primary {
  background-color: #F48120;
  border-color: transparent !important;
}
/* line 125, ../sass/style.scss */
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: rgba(244, 129, 32, 0.8);
}

/* line 132, ../sass/style.scss */
.btn-secondary {
  color: #ffffff !important;
  background-color: #647882 !important;
  border-color: transparent !important;
}
/* line 136, ../sass/style.scss */
.btn-secondary:hover {
  color: #ffffff !important;
  background-color: #cccccc !important;
  border-color: transparent !important;
}

/* line 143, ../sass/style.scss */
.btn-outline {
  background-color: transparent;
  border-color: #F48120;
  color: #F48120;
}
/* line 147, ../sass/style.scss */
.btn-outline:hover {
  background-color: transparent;
  border-color: #000000;
  color: #000000;
}

/* line 154, ../sass/style.scss */
.btn-fb {
  background-color: #3b5998;
  color: #ffffff !important;
}
/* line 157, ../sass/style.scss */
.btn-fb:hover {
  background-color: #2C52A5;
}

/* line 162, ../sass/style.scss */
h4.title {
  color: #2F393C;
}
@media screen and (min-width: 992px) {
  /* line 162, ../sass/style.scss */
  h4.title {
    margin-bottom: 40px;
  }
}

/* line 170, ../sass/style.scss */
#header {
  position: relative;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
/* line 178, ../sass/style.scss */
#header .logo img {
  max-height: 60px;
}
@media screen and (max-width: 768px) {
  /* line 178, ../sass/style.scss */
  #header .logo img {
    max-height: 50px;
  }
}
/* line 187, ../sass/style.scss */
#header .navbar .navbar-nav li {
  list-style: none;
}
/* line 189, ../sass/style.scss */
#header .navbar .navbar-nav li a {
  text-align: center;
  color: #000000;
}
/* line 197, ../sass/style.scss */
#header .navbar .navbar-nav.menus li a:hover, #header .navbar .navbar-nav.menus li a:active, #header .navbar .navbar-nav.menus li a:focus {
  color: #647882;
  letter-spacing: 0.25rem;
}
/* line 204, ../sass/style.scss */
#header .navbar .navbar-nav.menus li.sub-menu-parent {
  position: relative;
}
/* line 207, ../sass/style.scss */
#header .navbar .navbar-nav.menus li.sub-menu-parent a i {
  padding-left: 5px;
}
/* line 211, ../sass/style.scss */
#header .navbar .navbar-nav.menus li.sub-menu-parent .sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0.8rem 0;
  visibility: hidden;
  /* hides sub-menu */
  opacity: 0;
  z-index: -1;
  background-color: #ffffff;
  border: 1px solid #A9BCD0;
  -moz-transform: translateY(-2em);
  -ms-transform: translateY(-2em);
  -webkit-transform: translateY(-2em);
  transform: translateY(-2em);
  -moz-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  -o-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  -webkit-transition: all 0.3s ease-in-out, visibility 0s linear, z-index 0s linear;
  -webkit-transition-delay: 0s, 0.3s, 0.01s;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  -webkit-box-shadow: 3px 3px 5px rgba(57, 63, 72, 0.15);
  -moz-box-shadow: 3px 3px 5px rgba(57, 63, 72, 0.15);
  box-shadow: 3px 3px 5px rgba(57, 63, 72, 0.15);
}
/* line 228, ../sass/style.scss */
#header .navbar .navbar-nav.menus li.sub-menu-parent .sub-menu li {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
}
/* line 232, ../sass/style.scss */
#header .navbar .navbar-nav.menus li.sub-menu-parent .sub-menu li a {
  padding-left: 0;
}
/* line 235, ../sass/style.scss */
#header .navbar .navbar-nav.menus li.sub-menu-parent .sub-menu li:hover, #header .navbar .navbar-nav.menus li.sub-menu-parent .sub-menu li:focus, #header .navbar .navbar-nav.menus li.sub-menu-parent .sub-menu li:active {
  background-color: #F48120;
}
/* line 239, ../sass/style.scss */
#header .navbar .navbar-nav.menus li.sub-menu-parent .sub-menu li:hover a, #header .navbar .navbar-nav.menus li.sub-menu-parent .sub-menu li:focus a, #header .navbar .navbar-nav.menus li.sub-menu-parent .sub-menu li:active a {
  color: #ffffff;
  letter-spacing: 0.35rem;
}
/* line 249, ../sass/style.scss */
#header .navbar .navbar-nav.menus li.sub-menu-parent:focus .sub-menu, #header .navbar .navbar-nav.menus li.sub-menu-parent:focus-within .sub-menu, #header .navbar .navbar-nav.menus li.sub-menu-parent:hover .sub-menu {
  visibility: visible;
  /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transition-delay: 0s, 0s, 0.3s;
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}
/* line 264, ../sass/style.scss */
#header .navbar .flex-row:hover a {
  letter-spacing: 0.085rem;
}
/* line 268, ../sass/style.scss */
#header .navbar .flex-row .user {
  color: #F48120;
}
/* line 270, ../sass/style.scss */
#header .navbar .flex-row .user i {
  padding: 0.35rem 0.34rem 0.35rem 0.35rem;
  font-size: 13px;
  border: 1px solid #F48120;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 276, ../sass/style.scss */
#header .navbar .flex-row .user:hover {
  color: #A9BCD0;
}
/* line 278, ../sass/style.scss */
#header .navbar .flex-row .user:hover i {
  border-color: #A9BCD0;
}
/* line 283, ../sass/style.scss */
#header .navbar .flex-row .cart {
  position: relative;
  color: #647882;
}
/* line 286, ../sass/style.scss */
#header .navbar .flex-row .cart i {
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  /* line 286, ../sass/style.scss */
  #header .navbar .flex-row .cart i {
    font-size: 20px;
  }
}
/* line 292, ../sass/style.scss */
#header .navbar .flex-row .cart:hover {
  color: #A9BCD0;
}
/* line 295, ../sass/style.scss */
#header .navbar .flex-row .cart .num {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  padding: 4px 0;
  font-size: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #F48120;
  color: #ffffff;
  font-family: "Noto Sans", "微軟正黑體", STHeiti, arial, sans-serif;
  letter-spacing: 0.025rem;
  text-align: center;
}
/* line 312, ../sass/style.scss */
#header .navbar .flex-row .menu {
  display: none;
  padding: 0;
  z-index: 99;
  cursor: pointer;
}
/* line 317, ../sass/style.scss */
#header .navbar .flex-row .menu .burger {
  position: relative;
  width: 26px;
  height: 50px;
  z-index: 1001;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 324, ../sass/style.scss */
#header .navbar .flex-row .menu .burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #F48120;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 335, ../sass/style.scss */
#header .navbar .flex-row .menu .burger span:nth-child(1) {
  top: 15px;
}
/* line 338, ../sass/style.scss */
#header .navbar .flex-row .menu .burger span:nth-child(2) {
  top: 22px;
}
/* line 341, ../sass/style.scss */
#header .navbar .flex-row .menu .burger span:nth-child(3) {
  top: 29px;
}
/* line 347, ../sass/style.scss */
#header .navbar .flex-row .menu .active span {
  background: #647882;
}
/* line 349, ../sass/style.scss */
#header .navbar .flex-row .menu .active span:nth-child(1) {
  top: 24px;
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* line 353, ../sass/style.scss */
#header .navbar .flex-row .menu .active span:nth-child(2) {
  opacity: 0;
  left: -200px;
}
/* line 357, ../sass/style.scss */
#header .navbar .flex-row .menu .active span:nth-child(3) {
  top: 24px;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
@media screen and (min-width: 992px) {
  /* line 185, ../sass/style.scss */
  #header .navbar {
    padding-left: 20px;
    padding-right: 20px;
  }
  /* line 370, ../sass/style.scss */
  #header .navbar .navbar-nav li a {
    padding-left: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  /* line 185, ../sass/style.scss */
  #header .navbar {
    padding-left: 30px;
    padding-right: 30px;
  }
  /* line 381, ../sass/style.scss */
  #header .navbar .navbar-nav li a {
    padding-left: 1.6rem;
  }
}
@media screen and (width: 768px) {
  /* line 185, ../sass/style.scss */
  #header .navbar {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* line 393, ../sass/style.scss */
  #header .navbar .navbar-nav.menus li a {
    font-size: 14px;
    padding: 0.35rem;
  }
}

@media screen and (max-width: 767px) {
  /* line 407, ../sass/style.scss */
  #header .navbar .offcanvas-collapse {
    position: fixed;
    top: 66px;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #2D3645;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }
  /* line 421, ../sass/style.scss */
  #header .navbar .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
    z-index: 999;
  }
  /* line 426, ../sass/style.scss */
  #header .navbar .offcanvas-collapse .navbar-nav {
    position: relative;
    top: 30%;
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
  }
  /* line 431, ../sass/style.scss */
  #header .navbar .offcanvas-collapse .navbar-nav.menus li {
    border-bottom: 1px solid rgba(100, 120, 130, 0.3);
  }
  /* line 433, ../sass/style.scss */
  #header .navbar .offcanvas-collapse .navbar-nav.menus li a {
    padding: 0.8rem 0.25rem;
    font-size: 18px;
    color: #ffffff !important;
  }
  /* line 438, ../sass/style.scss */
  #header .navbar .offcanvas-collapse .navbar-nav.menus li:hover {
    background-color: #F48120;
    border-color: transparent;
  }
  /* line 441, ../sass/style.scss */
  #header .navbar .offcanvas-collapse .navbar-nav.menus li:hover a {
    color: #647882 !important;
  }
  /* line 446, ../sass/style.scss */
  #header .navbar .offcanvas-collapse .navbar-nav.menus li.sub-menu-parent .sub-menu {
    position: relative;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    visibility: visible;
    opacity: 1;
    z-index: 1;
    background-color: transparent;
    border-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  /* line 460, ../sass/style.scss */
  #header .navbar .offcanvas-collapse .navbar-nav.menus li.sub-menu-parent .sub-menu li {
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    border: none;
  }
  /* line 469, ../sass/style.scss */
  #header .navbar .offcanvas-collapse .navbar-nav.menus li.sub-menu-parent:focus .sub-men li, #header .navbar .offcanvas-collapse .navbar-nav.menus li.sub-menu-parent:focus-within .sub-men li, #header .navbar .offcanvas-collapse .navbar-nav.menus li.sub-menu-parent:hover .sub-men li {
    background-color: transparent !important;
  }
  /* line 480, ../sass/style.scss */
  #header .navbar .flex-row .nav-link {
    padding-left: 1rem !important;
  }
  /* line 483, ../sass/style.scss */
  #header .navbar .flex-row .menu {
    display: block !important;
  }
}
/* line 491, ../sass/style.scss */
#header.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  z-index: 666;
}
/* line 503, ../sass/style.scss */
#header.fixed .logo img {
  max-height: 40px;
}
/* line 508, ../sass/style.scss */
#header.fixed .navbar .offcanvas-collapse {
  top: 58px;
}
@media screen and (max-width: 767px) {
  /* line 507, ../sass/style.scss */
  #header.fixed .navbar {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}

/* line 525, ../sass/style.scss */
.no-scroll {
  overflow-y: hidden;
}

/* line 530, ../sass/style.scss */
#main section {
  position: relative;
  display: block;
  padding: 4rem 0;
}
@media screen and (max-width: 768px) {
  /* line 530, ../sass/style.scss */
  #main section {
    padding: 2rem 0;
  }
}
/* line 538, ../sass/style.scss */
#main .banner {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
/* line 544, ../sass/style.scss */
#main .banner:before {
  position: relative;
  display: block;
  content: " ";
  padding-bottom: 30%;
}
@media screen and (max-width: 767px) {
  /* line 551, ../sass/style.scss */
  #main .banner:before {
    padding-bottom: 40%;
  }
}
/* line 556, ../sass/style.scss */
#main .nav-tabs {
  border-color: #F48120;
}
/* line 560, ../sass/style.scss */
#main .nav-tabs .nav-item .nav-link.active {
  border-color: #F48120;
  background-color: #F48120;
  color: #ffffff;
}
/* line 568, ../sass/style.scss */
#main .tab-content {
  padding: 1.5rem 0;
}
/* line 571, ../sass/style.scss */
#main .price {
  position: relative;
}
/* line 573, ../sass/style.scss */
#main .price:before {
  position: relative;
  display: inline-block;
  content: "NT$";
  padding-right: 0.25rem;
  font-size: 14px;
  color: #647882;
  font-weight: normal;
}
/* line 583, ../sass/style.scss */
#main .pieces {
  position: relative;
  padding: 0 0.25rem;
}
/* line 586, ../sass/style.scss */
#main .pieces:after {
  position: relative;
  display: inline-block;
  content: "件";
  padding-left: 2px;
  font-size: 14px;
  color: #647882;
  font-weight: normal;
}
/* line 596, ../sass/style.scss */
#main .amount {
  position: relative;
}
/* line 598, ../sass/style.scss */
#main .amount:before {
  position: relative;
  display: inline-block;
  content: "數量";
  padding-right: 0.25rem;
  font-size: 14px;
  color: #647882;
  font-weight: normal;
}

/* line 610, ../sass/style.scss */
#footer {
  position: relative;
  color: #ffffff;
  font-size: 14px;
  background: linear-gradient(to right, #647882, #8ca0aa, #a6bcc7);
}
/* line 615, ../sass/style.scss */
#footer .webmap {
  padding: 2.5rem 0 1.8rem;
}
/* line 617, ../sass/style.scss */
#footer .webmap p.title {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}
/* line 622, ../sass/style.scss */
#footer .webmap ul {
  display: inline-block;
  padding: 0;
  margin: 0 auto;
}
/* line 626, ../sass/style.scss */
#footer .webmap ul li {
  padding: 0.25rem;
  list-style: none;
}
/* line 629, ../sass/style.scss */
#footer .webmap ul li a {
  color: #ffffff;
  font-weight: lighter;
}
/* line 632, ../sass/style.scss */
#footer .webmap ul li a:hover, #footer .webmap ul li a:focus, #footer .webmap ul li a:active {
  color: #cccccc;
}
@media screen and (max-width: 991px) {
  /* line 641, ../sass/style.scss */
  #footer .webmap ul {
    text-align: left !important;
  }
}
/* line 646, ../sass/style.scss */
#footer .info {
  padding: 0.5rem 0;
  border-top: 1px solid #F48120;
}
/* line 649, ../sass/style.scss */
#footer .info .copyright {
  text-align: center;
}
/* line 651, ../sass/style.scss */
#footer .info .copyright ul {
  padding: 0;
  padding-top: 0.25rem;
  margin: 0;
}
/* line 655, ../sass/style.scss */
#footer .info .copyright ul li {
  display: inline-block;
  padding-left: 0.5rem;
  list-style: none;
}
/* line 659, ../sass/style.scss */
#footer .info .copyright ul li a {
  color: #ffffff;
}
@media screen and (min-width: 992px) {
  /* line 649, ../sass/style.scss */
  #footer .info .copyright {
    text-align: left;
  }
  /* line 666, ../sass/style.scss */
  #footer .info .copyright > div {
    display: inline-block;
    float: left;
  }
  /* line 669, ../sass/style.scss */
  #footer .info .copyright > div:last-child {
    float: right;
    text-align: right;
  }
  /* line 673, ../sass/style.scss */
  #footer .info .copyright > div ul {
    padding-top: 0;
  }
}
/* line 678, ../sass/style.scss */
#footer .info .copyright .sunstar {
  color: #ffffff;
}
/* line 680, ../sass/style.scss */
#footer .info .copyright .sunstar:hover, #footer .info .copyright .sunstar:focus {
  color: #75b637;
}
@media screen and (max-width: 576px) {
  /* line 686, ../sass/style.scss */
  #footer .info .copyright .block {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  /* line 693, ../sass/style.scss */
  #footer .info {
    padding: 1.5rem 0;
  }
}

/* line 699, ../sass/style.scss */
#in-btn {
  position: fixed;
  display: block;
  top: 45%;
  right: 0;
  cursor: pointer;
  z-index: 66;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
@media screen and (max-width: 768px) {
  /* line 699, ../sass/style.scss */
  #in-btn {
    opacity: 0.5;
  }
  /* line 709, ../sass/style.scss */
  #in-btn:hover {
    opacity: 1;
  }
}
/* line 713, ../sass/style.scss */
#in-btn ul {
  padding: 0;
  margin: 0;
}
/* line 716, ../sass/style.scss */
#in-btn ul li {
  margin: 0.5rem;
  list-style: none;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
/* line 720, ../sass/style.scss */
#in-btn ul li i {
  font-size: 25px;
  color: #F48120;
}
/* line 723, ../sass/style.scss */
#in-btn ul li i.fa-comment {
  font-size: 22px;
}
/* line 727, ../sass/style.scss */
#in-btn ul li:hover {
  margin: 0.5rem 0.8rem;
}
/* line 729, ../sass/style.scss */
#in-btn ul li:hover i {
  color: #A9BCD0;
}
@media screen and (max-width: 768px) {
  /* line 734, ../sass/style.scss */
  #in-btn ul li i {
    font-size: 20px;
  }
  /* line 736, ../sass/style.scss */
  #in-btn ul li i.fa-comment {
    font-size: 17px;
  }
}
/* line 743, ../sass/style.scss */
#in-btn .btn {
  min-width: auto;
  padding: 0.5rem 0.75rem;
  border: none !important;
  background-color: #647882;
  vertical-align: middle;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
/* line 752, ../sass/style.scss */
#in-btn .btn:hover {
  padding: 0.75rem;
}

/* line 758, ../sass/style.scss */
#side-btn {
  position: fixed;
  right: 0;
  bottom: 15%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
}
@media screen and (min-width: 1200px) {
  /* line 758, ../sass/style.scss */
  #side-btn {
    bottom: 10%;
  }
}
@media screen and (min-width: 768px) {
  /* line 758, ../sass/style.scss */
  #side-btn {
    bottom: 6%;
  }
}
/* line 771, ../sass/style.scss */
#side-btn span {
  position: relative;
  display: block;
  margin: 0.5rem;
  background-color: transparent;
  cursor: pointer;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
/* line 778, ../sass/style.scss */
#side-btn span i {
  position: relative;
  padding: 0.25rem;
  font-size: 25px;
  color: #F48120;
}
@media screen and (max-width: 768px) {
  /* line 778, ../sass/style.scss */
  #side-btn span i {
    padding: 0;
    font-size: 20px;
  }
}
/* line 788, ../sass/style.scss */
#side-btn span:hover {
  margin: 0.5rem 0.8rem;
}
/* line 790, ../sass/style.scss */
#side-btn span:hover i {
  color: #A9BCD0;
}

/* line 797, ../sass/style.scss */
#side-btn.active {
  opacity: 1;
  visibility: visible;
  cursor: default;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 804, ../sass/style.scss */
.breadcrumb {
  background: transparent;
  margin-bottom: 0;
  padding: 0 0 1rem;
  font-size: 14px;
}
@media screen and (max-width: 576px) {
  /* line 804, ../sass/style.scss */
  .breadcrumb {
    font-size: 13px;
  }
}
/* line 812, ../sass/style.scss */
.breadcrumb.pt {
  padding-top: 4rem;
}
@media screen and (max-width: 768px) {
  /* line 812, ../sass/style.scss */
  .breadcrumb.pt {
    padding-top: 2rem;
  }
}
/* line 819, ../sass/style.scss */
.breadcrumb li:before {
  color: #cccccc !important;
}
/* line 822, ../sass/style.scss */
.breadcrumb li a {
  color: #A9BCD0;
}
/* line 824, ../sass/style.scss */
.breadcrumb li a:hover {
  color: #647882;
}
/* line 830, ../sass/style.scss */
.breadcrumb .active a {
  color: #647882 !important;
  font-weight: bold;
}

/* line 837, ../sass/style.scss */
.pagination {
  margin: 1.5rem 0;
}
/* line 839, ../sass/style.scss */
.pagination li {
  counter-increment: pagination;
}
/* line 841, ../sass/style.scss */
.pagination li a {
  color: #000000;
  background-color: transparent;
  border: none;
}
/* line 845, ../sass/style.scss */
.pagination li a:after {
  content: " " counter(pagination) " ";
}
/* line 850, ../sass/style.scss */
.pagination li:hover a {
  color: #ffffff;
  background-color: #F48120;
}
/* line 856, ../sass/style.scss */
.pagination li.active a {
  color: #F48120;
  font-weight: 400;
  background-color: transparent;
  border-bottom: 2px solid #F48120;
}
/* line 864, ../sass/style.scss */
.pagination li:first-child a {
  display: inline-block;
}
/* line 867, ../sass/style.scss */
.pagination li:first-child a:after {
  content: "<";
}
/* line 872, ../sass/style.scss */
.pagination li:last-child a {
  display: inline-block;
}
/* line 875, ../sass/style.scss */
.pagination li:last-child a:after {
  content: ">";
}
/* line 879, ../sass/style.scss */
.pagination li:nth-child(2) {
  counter-reset: pagination;
}
/* line 882, ../sass/style.scss */
.pagination li:nth-last-child(2) {
  display: inline-block;
}
/* line 884, ../sass/style.scss */
.pagination li:nth-last-child(2):after {
  padding: 0 1rem;
  content: "...";
}
/* line 888, ../sass/style.scss */
.pagination li:nth-last-child(2) a {
  display: inline-block;
}

/* line 895, ../sass/style.scss */
.slide {
  text-align: center;
}

/* line 899, ../sass/style.scss */
.slick-prev {
  left: 25px;
}

/* line 903, ../sass/style.scss */
.slick-next {
  right: 25px;
}

/* line 907, ../sass/style.scss */
.slick-prev,
.slick-next {
  width: 70px;
  height: 70px;
  z-index: 99;
}
/* line 912, ../sass/style.scss */
.slick-prev:before,
.slick-next:before {
  color: #F48120;
}

/* line 917, ../sass/style.scss */
.help-text {
  font-size: 14px;
  color: #647882;
}

/* line 922, ../sass/style.scss */
.strong {
  font-weight: bold;
}

/* line 926, ../sass/style.scss */
.verify {
  vertical-align: bottom;
  font-size: 13px;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  /* line 926, ../sass/style.scss */
  .verify {
    display: block;
    vertical-align: top;
  }
}

/* line 936, ../sass/style.scss */
.mc {
  color: #F48120;
}

/* line 940, ../sass/style.scss */
.italic {
  font-style: italic;
}
