@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 7, ../sass/style.scss */
body {
  font-family: "Noto Sans", "微軟正黑體", STHeiti, arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.085rem;
  color: #000000;
}
@media screen and (max-width: 576px) {
  /* line 7, ../sass/style.scss */
  body {
    font-size: 15px;
  }
}

/* line 19, ../sass/style.scss */
body.noScroll {
  overflow: hidden;
}

/* line 23, ../sass/style.scss */
a {
  color: #2F393C;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 26, ../sass/style.scss */
a:hover, a:active, a:focus {
  color: #A9BCD0;
  outline: none;
  text-decoration: none;
}

/* line 35, ../sass/style.scss */
p {
  margin-bottom: 1.5rem;
}

/* line 39, ../sass/style.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-family: "Noto Sans", "微軟正黑體", STHeiti, arial, sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 900;
}

/* line 52, ../sass/style.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: "Noto Sans", "微軟正黑體", STHeiti, arial, sans-serif;
}

/* line 60, ../sass/style.scss */
input.form-control,
select,
select.custom-select,
textarea {
  padding: 0.5rem 0.75rem !important;
  color: #F48120;
  background-color: transparent;
  border-color: rgba(244, 129, 32, 0.3);
  box-shadow: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 72, ../sass/style.scss */
input.form-control:hover, input.form-control:focus, input.form-control:active,
select:hover,
select:focus,
select:active,
select.custom-select:hover,
select.custom-select:focus,
select.custom-select:active,
textarea:hover,
textarea:focus,
textarea:active {
  color: #000000;
  border-color: rgba(100, 120, 130, 0.8);
}

/* line 80, ../sass/style.scss */
textarea {
  min-height: 100px;
}

/* line 84, ../sass/style.scss */
select.custom-select {
  width: 100%;
  height: auto;
}

/* line 90, ../sass/style.scss */
.select-wrapper select {
  width: 100%;
  background-image: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-512.png);
  background-position: 96% center;
  background-size: 10px;
  background-repeat: no-repeat;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  /* line 90, ../sass/style.scss */
  .select-wrapper select {
    background-size: 12px;
  }
}

/* line 104, ../sass/style.scss */
::-webkit-selection {
  color: #ffffff;
  background: #F48120;
}

/* line 109, ../sass/style.scss */
::-moz-selection {
  color: #ffffff;
  background: #F48120;
}

/* line 114, ../sass/style.scss */
::selection {
  color: #ffffff;
  background: #F48120;
}

/* line 119, ../sass/style.scss */
.col-form-label {
  padding-top: calc(0.6rem - 1px * 2);
}

/* line 124, ../sass/style.scss */
.btn {
  min-width: 100px;
  padding: 0.5rem 0.75rem;
  font-size: "Noto Sans", "微軟正黑體", STHeiti, arial, sans-serif;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  letter-spacing: 0.15rem;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
/* line 133, ../sass/style.scss */
.btn:hover {
  text-decoration: none;
  outline: none;
}

/* line 139, ../sass/style.scss */
.btn-primary {
  background-color: #F48120;
  border-color: transparent;
}
/* line 142, ../sass/style.scss */
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #000000;
}

/* line 149, ../sass/style.scss */
.btn-secondary {
  color: #ffffff !important;
  background-color: #2F393C !important;
  border-color: transparent !important;
}
/* line 153, ../sass/style.scss */
.btn-secondary:hover {
  color: #ffffff !important;
  background-color: #cccccc !important;
  border-color: transparent !important;
}

/* line 160, ../sass/style.scss */
.btn-outline {
  background-color: transparent;
  border-color: #F48120;
  color: #F48120;
}
/* line 164, ../sass/style.scss */
.btn-outline:hover {
  background-color: transparent;
  border-color: #000000;
  color: #000000;
}

/* line 171, ../sass/style.scss */
.btn-fb {
  background-color: #3b5998;
  color: #ffffff !important;
}
/* line 174, ../sass/style.scss */
.btn-fb:hover {
  background-color: #2C52A5;
}

/* line 181, ../sass/style.scss */
.pay-btn .btn,
.back-btn .btn {
  width: 100%;
  padding: 0.75rem;
}

/* line 188, ../sass/style.scss */
.custom-control-input:checked ~ .custom-control-indicator {
  background-color: #F48120;
}

/* line 193, ../sass/style.scss */
.custom-control.custom-radio,
.custom-control.custom-checkbox {
  padding-top: 2px;
  cursor: pointer;
  margin-bottom: 0;
}
/* line 198, ../sass/style.scss */
.custom-control.custom-radio .custom-control-indicator,
.custom-control.custom-checkbox .custom-control-indicator {
  margin-right: 0.5rem;
}

/* line 205, ../sass/style.scss */
.custom-control.custom-checkbox .custom-control-description a {
  color: #647882;
}

/* line 211, ../sass/style.scss */
.m-title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #000000;
  line-height: 1.4;
}

/* line 219, ../sass/style.scss */
.ms-title {
  font-size: 1.3rem;
  font-weight: 400;
  color: #2F393C;
  line-height: 1.1;
}

/* line 227, ../sass/style.scss */
#header {
  position: relative;
  width: 100%;
  background-color: #fff;
}
/* line 231, ../sass/style.scss */
#header .logo {
  padding: 0.5rem 0;
}
/* line 233, ../sass/style.scss */
#header .logo img {
  max-height: 70px;
}
@media screen and (max-width: 767px) {
  /* line 233, ../sass/style.scss */
  #header .logo img {
    max-height: 50px;
  }
}
/* line 257, ../sass/style.scss */
#header .menu-item ul {
  width: 100%;
  padding: 0;
  margin: 0;
}
/* line 261, ../sass/style.scss */
#header .menu-item ul li {
  width: 100%;
  padding: 1rem 0;
  text-align: right;
  list-style: none;
}
/* line 266, ../sass/style.scss */
#header .menu-item ul li a {
  text-align: center;
  color: #F48120;
}
/* line 269, ../sass/style.scss */
#header .menu-item ul li a:hover, #header .menu-item ul li a:active, #header .menu-item ul li a:focus {
  color: #647882;
}
/* line 276, ../sass/style.scss */
#header .menu {
  display: none;
  z-index: 99;
  cursor: pointer;
}
/* line 280, ../sass/style.scss */
#header .menu .burger {
  position: relative;
  width: 26px;
  height: 50px;
  z-index: 1001;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 287, ../sass/style.scss */
#header .menu .burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #F48120;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 298, ../sass/style.scss */
#header .menu .burger span:nth-child(1) {
  top: 15px;
}
/* line 301, ../sass/style.scss */
#header .menu .burger span:nth-child(2) {
  top: 22px;
}
/* line 304, ../sass/style.scss */
#header .menu .burger span:nth-child(3) {
  top: 29px;
}
/* line 310, ../sass/style.scss */
#header .menu .active span {
  background: #ffffff;
}
/* line 312, ../sass/style.scss */
#header .menu .active span:nth-child(1) {
  top: 24px;
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* line 316, ../sass/style.scss */
#header .menu .active span:nth-child(2) {
  opacity: 0;
  left: -200px;
}
/* line 320, ../sass/style.scss */
#header .menu .active span:nth-child(3) {
  top: 24px;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
@media screen and (max-width: 767px) {
  /* line 276, ../sass/style.scss */
  #header .menu {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  /* line 332, ../sass/style.scss */
  .m-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: hidden;
    transition: opacity 0.15s, visibility 0.15s, width 0.35s;
    z-index: 99;
  }
  /* line 343, ../sass/style.scss */
  .m-bg:before {
    content: '';
    background: #000000;
    left: -55%;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    -moz-transition: left 0.35s ease;
    -o-transition: left 0.35s ease;
    -webkit-transition: left 0.35s ease;
    transition: left 0.35s ease;
  }
  /* line 353, ../sass/style.scss */
  .m-bg .menu-item {
    position: relative;
    height: 100%;
    padding-bottom: 50px;
    font-size: 1.5rem;
    font-size: "Noto Sans", "微軟正黑體", STHeiti, arial, sans-serif;
    font-weight: 400;
    text-align: center;
    overflow: scroll;
    z-index: 999;
  }
  /* line 363, ../sass/style.scss */
  .m-bg .menu-item ul {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 50%;
    padding: 0;
    margin: 10% auto;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  /* line 373, ../sass/style.scss */
  .m-bg .menu-item ul li {
    display: block;
    position: relative;
    width: 100%;
    height: 15%;
    height: calc(45% / 3);
    min-height: 50px;
    padding: 1rem 0;
    text-align: right;
    list-style: none;
  }
  /* line 383, ../sass/style.scss */
  .m-bg .menu-item ul li a {
    display: block;
    position: relative;
    color: #ffffff !important;
    vertical-align: middle;
    font-size: 1.8rem;
    text-align: center;
  }
  /* line 390, ../sass/style.scss */
  .m-bg .menu-item ul li a:hover, .m-bg .menu-item ul li a:active, .m-bg .menu-item ul li a:focus {
    color: #647882;
  }
  /* line 395, ../sass/style.scss */
  .m-bg .menu-item ul li a span {
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }
  /* line 397, ../sass/style.scss */
  .m-bg .menu-item ul li a span:hover {
    letter-spacing: 0.5rem;
    color: #F48120 !important;
  }
  /* line 401, ../sass/style.scss */
  .m-bg .menu-item ul li a span:hover:after, .m-bg .menu-item ul li a span:focus:after, .m-bg .menu-item ul li a span:active:after {
    width: 100%;
  }
  /* line 406, ../sass/style.scss */
  .m-bg .menu-item ul li a span:after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    margin: 0 auto;
    height: 1px;
    background: #F48120;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    -moz-transition-delay: 0.35s ease;
    -o-transition-delay: 0.35s ease;
    -webkit-transition-delay: 0.35s ease;
    transition-delay: 0.35s ease;
  }
  /* line 421, ../sass/style.scss */
  .m-bg .menu-item ul li .active {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 1rem 5rem;
  }
}
@media screen and (max-width: 767px) and (max-width: 768px) {
  /* line 421, ../sass/style.scss */
  .m-bg .menu-item ul li .active {
    padding: 0.4rem 5rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 428, ../sass/style.scss */
  .m-bg .menu-item ul li .active span:after {
    opacity: 0;
  }
  /* line 434, ../sass/style.scss */
  .m-bg .menu-item ul li.dropdown .dropdown-menu {
    position: relative !important;
    background-color: transparent;
    transform: translate3d(0, 0, 0) !important;
  }
  /* line 438, ../sass/style.scss */
  .m-bg .menu-item ul li.dropdown .dropdown-menu a {
    font-size: 1.6rem;
  }
  /* line 440, ../sass/style.scss */
  .m-bg .menu-item ul li.dropdown .dropdown-menu a:hover, .m-bg .menu-item ul li.dropdown .dropdown-menu a:focus, .m-bg .menu-item ul li.dropdown .dropdown-menu a:active {
    background-color: transparent;
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  /* line 447, ../sass/style.scss */
  .m-bg .menu-item ul li a {
    font-size: 1.6rem;
  }
  /* line 452, ../sass/style.scss */
  .m-bg .menu-item ul li.dropdown .dropdown-menu a {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 461, ../sass/style.scss */
  .m-bg .m-menu {
    font-size: 1.3rem;
  }
}

/* line 467, ../sass/style.scss */
.open {
  opacity: 0.96;
  visibility: visible;
  height: 100%;
}
/* line 471, ../sass/style.scss */
.open:before {
  left: 0;
}
/* line 474, ../sass/style.scss */
.open li {
  opacity: 1;
  -moz-transition: opacity, 0.6, -0.28, 0.735, 0.045 1000ms;
  -o-transition: opacity, 0.6, -0.28, 0.735, 0.045 1000ms;
  -webkit-transition: opacity, 0.6, -0.28, 0.735, 0.045 1000ms;
  transition: opacity, 0.6, -0.28, 0.735, 0.045 1000ms;
}
/* line 477, ../sass/style.scss */
.open li:nth-of-type(1) {
  -moz-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
}
/* line 480, ../sass/style.scss */
.open li:nth-of-type(2) {
  -moz-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}
/* line 483, ../sass/style.scss */
.open li:nth-of-type(3) {
  -moz-transition-delay: 400ms;
  -o-transition-delay: 400ms;
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
}
/* line 486, ../sass/style.scss */
.open li:nth-of-type(4) {
  -moz-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  -webkit-transition-delay: 500ms;
  transition-delay: 500ms;
}

/* line 492, ../sass/style.scss */
.fixed {
  position: fixed !important;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  z-index: 888;
}
/* line 504, ../sass/style.scss */
.fixed .logo img {
  max-height: 40px !important;
}

/* line 510, ../sass/style.scss */
.no-scroll {
  overflow-y: hidden;
}

/* line 515, ../sass/style.scss */
#main section {
  position: relative;
  display: block;
  padding: 4rem 0;
}
@media screen and (max-width: 768px) {
  /* line 515, ../sass/style.scss */
  #main section {
    padding: 2rem 0;
  }
}
/* line 523, ../sass/style.scss */
#main section.gray {
  background-color: #F2F2F2;
}
/* line 526, ../sass/style.scss */
#main .banner {
  position: relative;
  height: 400px;
  background-position: center 88%;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 532, ../sass/style.scss */
#main .banner .caption {
  position: relative;
  height: 400px;
}
/* line 535, ../sass/style.scss */
#main .banner .caption .title {
  position: absolute;
  top: 86%;
  left: 0;
  color: #ffffff;
  font-size: 3.5rem;
  letter-spacing: 0.25rem;
}
@media screen and (max-width: 768px) {
  /* line 526, ../sass/style.scss */
  #main .banner {
    height: 300px;
  }
  /* line 546, ../sass/style.scss */
  #main .banner .caption {
    height: 300px;
  }
  /* line 548, ../sass/style.scss */
  #main .banner .caption .title {
    top: 82%;
  }
}
/* line 554, ../sass/style.scss */
#main .it-block {
  margin-bottom: 30px;
}
/* line 556, ../sass/style.scss */
#main .it-block .img {
  position: relative;
  background-position: center;
  background-size: cover;
}
/* line 560, ../sass/style.scss */
#main .it-block .img:before {
  display: block;
  content: "";
  padding-bottom: 70%;
}
/* line 567, ../sass/style.scss */
#main .plc {
  text-align: center;
}
@media screen and (max-width: 767px) {
  /* line 567, ../sass/style.scss */
  #main .plc {
    text-align: left;
  }
}
/* line 573, ../sass/style.scss */
#main form#inquiry {
  display: block;
  width: 100%;
  clear: both;
}
/* line 577, ../sass/style.scss */
#main form#inquiry input.form-control,
#main form#inquiry select,
#main form#inquiry select.custom-select,
#main form#inquiry textarea {
  color: #000000;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #F48120;
  border-radius: 0 !important;
}
/* line 586, ../sass/style.scss */
#main form#inquiry input.form-control:hover, #main form#inquiry input.form-control:focus, #main form#inquiry input.form-control:active,
#main form#inquiry select:hover,
#main form#inquiry select:focus,
#main form#inquiry select:active,
#main form#inquiry select.custom-select:hover,
#main form#inquiry select.custom-select:focus,
#main form#inquiry select.custom-select:active,
#main form#inquiry textarea:hover,
#main form#inquiry textarea:focus,
#main form#inquiry textarea:active {
  color: #2F393C;
  border-bottom: 1px solid #000000;
}
/* line 592, ../sass/style.scss */
#main form#inquiry input.form-control:-moz-placeholder,
#main form#inquiry select:-moz-placeholder,
#main form#inquiry select.custom-select:-moz-placeholder,
#main form#inquiry textarea:-moz-placeholder {
  color: #2F393C;
}
/* line 595, ../sass/style.scss */
#main form#inquiry input.form-control:-ms-input-placeholder,
#main form#inquiry select:-ms-input-placeholder,
#main form#inquiry select.custom-select:-ms-input-placeholder,
#main form#inquiry textarea:-ms-input-placeholder {
  color: #2F393C;
}
/* line 598, ../sass/style.scss */
#main form#inquiry input.form-control::-webkit-input-placeholder,
#main form#inquiry select::-webkit-input-placeholder,
#main form#inquiry select.custom-select::-webkit-input-placeholder,
#main form#inquiry textarea::-webkit-input-placeholder {
  color: #2F393C;
}
/* line 602, ../sass/style.scss */
#main form#inquiry .verify {
  font-size: 13px;
  cursor: pointer;
}
/* line 607, ../sass/style.scss */
#main .ads {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
/* line 612, ../sass/style.scss */
#main .ads li {
  position: relative;
  list-style: none;
}
@media screen and (min-width: 768px) {
  /* line 612, ../sass/style.scss */
  #main .ads li {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    height: 250px;
    padding: 2rem;
  }
}
@media screen and (min-width: 992px) {
  /* line 612, ../sass/style.scss */
  #main .ads li {
    padding: 2.5rem;
    height: 300px;
  }
}
@media screen and (max-width: 767px) {
  /* line 612, ../sass/style.scss */
  #main .ads li {
    flex: 0 0 100%;
    max-width: 100%;
    height: 200px;
    padding: 1.5rem;
  }
}
/* line 631, ../sass/style.scss */
#main .ads li p {
  color: #ffffff;
}
/* line 633, ../sass/style.scss */
#main .ads li p .btn-outline {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
/* line 637, ../sass/style.scss */
#main .ads li p .btn-outline:hover {
  background-color: #F48120;
  border-color: #000000;
  color: #ffffff;
}
/* line 644, ../sass/style.scss */
#main .ads li:nth-child(1) {
  background-image: url(../images/banner/ad-1.jpg);
  background-size: cover;
}
/* line 648, ../sass/style.scss */
#main .ads li:nth-child(2) {
  z-index: 1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY0Nzg4MiIvPjxzdG9wIG9mZnNldD0iNDAlIiBzdG9wLWNvbG9yPSIjNjQ3ODgyIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYTliY2QwIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(315deg, #647882, #647882 40%, #a9bcd0);
  background-image: -webkit-linear-gradient(315deg, #647882, #647882 40%, #a9bcd0);
  background-image: linear-gradient(135deg, #647882, #647882 40%, #a9bcd0);
}
/* line 655, ../sass/style.scss */
#main .ads li:nth-child(3) {
  background-color: rgba(244, 129, 32, 0.5);
}
/* line 657, ../sass/style.scss */
#main .ads li:nth-child(3):before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-image: url(../images/about/ab-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
/* line 672, ../sass/style.scss */
#main .ads .border:after {
  position: absolute;
  display: block;
  top: 0.3rem;
  right: 0.3rem;
  bottom: 0.3rem;
  left: 0.3rem;
  border: 1px rgba(255, 255, 255, 0.5) solid;
  content: '';
  z-index: -1;
}

/* line 687, ../sass/style.scss */
#footer {
  position: relative;
  color: #ffffff;
  font-size: 15px;
  background-color: #F48120;
  z-index: 5;
}
/* line 693, ../sass/style.scss */
#footer .webmap {
  padding: 2.5rem 0 1.8rem;
}
/* line 695, ../sass/style.scss */
#footer .webmap p.title {
  color: #ffffff;
  font-size: 15px;
}
/* line 699, ../sass/style.scss */
#footer .webmap ul {
  display: inline-block;
  padding: 0;
  margin: 0 auto;
}
/* line 703, ../sass/style.scss */
#footer .webmap ul li {
  padding: 0.25rem;
  list-style: none;
}
/* line 706, ../sass/style.scss */
#footer .webmap ul li a {
  color: #ffffff;
  font-size: 15px;
  font-weight: lighter;
}
/* line 710, ../sass/style.scss */
#footer .webmap ul li a:hover, #footer .webmap ul li a:focus, #footer .webmap ul li a:active {
  color: #cccccc;
}
/* line 719, ../sass/style.scss */
#footer .info {
  padding: 0.5rem 0 2.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
/* line 722, ../sass/style.scss */
#footer .info p {
  position: relative;
  margin-bottom: 0;
  color: #ffffff;
  vertical-align: middle;
}
/* line 727, ../sass/style.scss */
#footer .info p i {
  position: absolute;
  font-size: 14px;
  margin-top: 3px;
}
/* line 732, ../sass/style.scss */
#footer .info p .msg {
  position: relative;
  padding-left: 25px;
}
/* line 737, ../sass/style.scss */
#footer .info .copyright {
  font-size: 0.85rem;
}
/* line 739, ../sass/style.scss */
#footer .info .copyright .sunstar {
  color: #ffffff;
}
/* line 741, ../sass/style.scss */
#footer .info .copyright .sunstar:hover, #footer .info .copyright .sunstar:focus {
  color: #74b437;
}
@media screen and (max-width: 576px) {
  /* line 747, ../sass/style.scss */
  #footer .info .copyright .block {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  /* line 687, ../sass/style.scss */
  #footer {
    margin-bottom: 45px;
  }
  /* line 755, ../sass/style.scss */
  #footer .info {
    padding: 1.5rem 0;
  }
}

/* line 761, ../sass/style.scss */
#in-btn {
  position: fixed;
  display: block;
  top: 45%;
  right: 0;
  cursor: pointer;
  z-index: 66;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
@media screen and (max-width: 768px) {
  /* line 761, ../sass/style.scss */
  #in-btn {
    opacity: 0.5;
  }
  /* line 771, ../sass/style.scss */
  #in-btn:hover {
    opacity: 1;
  }
}
/* line 775, ../sass/style.scss */
#in-btn ul {
  padding: 0;
  margin: 0;
}
/* line 778, ../sass/style.scss */
#in-btn ul li {
  margin: 0.5rem;
  list-style: none;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
/* line 782, ../sass/style.scss */
#in-btn ul li i {
  font-size: 20px;
  color: #F48120;
}
/* line 786, ../sass/style.scss */
#in-btn ul li:hover {
  margin: 0.5rem 0.8rem;
}
/* line 788, ../sass/style.scss */
#in-btn ul li:hover i {
  font-size: 25px;
  color: #647882;
}
/* line 795, ../sass/style.scss */
#in-btn .btn {
  min-width: auto;
  padding: 0.5rem 0.75rem;
  border: none !important;
  background-color: #647882;
  vertical-align: middle;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
/* line 804, ../sass/style.scss */
#in-btn .btn:hover {
  padding: 0.75rem;
}

/* line 810, ../sass/style.scss */
#side-btn {
  position: fixed;
  right: 0;
  bottom: 15%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
}
@media screen and (min-width: 1200px) {
  /* line 810, ../sass/style.scss */
  #side-btn {
    bottom: 10%;
  }
}
@media screen and (min-width: 768px) {
  /* line 810, ../sass/style.scss */
  #side-btn {
    bottom: 6%;
  }
}
@media screen and (max-width: 768px) {
  /* line 810, ../sass/style.scss */
  #side-btn {
    display: none;
  }
}
/* line 826, ../sass/style.scss */
#side-btn span {
  position: relative;
  display: block;
  margin: 0.5rem;
  background-color: transparent;
  cursor: pointer;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
/* line 833, ../sass/style.scss */
#side-btn span i {
  position: relative;
  padding: 0.25rem;
  font-size: 8px;
  color: #2F393C;
  border: 1px solid #2F393C;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 842, ../sass/style.scss */
#side-btn span:hover {
  margin: 0.5rem 0.8rem;
}
/* line 844, ../sass/style.scss */
#side-btn span:hover i {
  font-size: 15px;
  color: #000000;
  border-color: #000000;
}

/* line 853, ../sass/style.scss */
#side-btn.active {
  opacity: 1;
  visibility: visible;
  cursor: default;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 860, ../sass/style.scss */
.breadcrumb {
  background: transparent;
  margin-bottom: 0;
  padding: 0 0 1rem;
}
/* line 864, ../sass/style.scss */
.breadcrumb.pt {
  padding-top: 4rem;
}
@media screen and (max-width: 768px) {
  /* line 864, ../sass/style.scss */
  .breadcrumb.pt {
    padding-top: 2rem;
  }
}
/* line 871, ../sass/style.scss */
.breadcrumb li:before {
  color: #cccccc !important;
}
/* line 874, ../sass/style.scss */
.breadcrumb li a {
  color: #2F393C;
}
/* line 876, ../sass/style.scss */
.breadcrumb li a:hover {
  color: #647882;
}
/* line 882, ../sass/style.scss */
.breadcrumb .active a {
  color: #000000 !important;
  font-weight: bold;
}

/* line 889, ../sass/style.scss */
.gray-bg {
  position: relative;
  background-color: #cccccc;
}

/* line 894, ../sass/style.scss */
.pagination {
  margin: 1.5rem 0;
}
/* line 896, ../sass/style.scss */
.pagination li {
  counter-increment: pagination;
}
/* line 898, ../sass/style.scss */
.pagination li a {
  color: #000000;
  background-color: transparent;
  border: none;
}
/* line 902, ../sass/style.scss */
.pagination li a:after {
  content: " " counter(pagination) " ";
}
/* line 907, ../sass/style.scss */
.pagination li:hover a {
  color: #ffffff;
  background-color: #F48120;
}
/* line 913, ../sass/style.scss */
.pagination li.active a {
  color: #F48120;
  font-weight: 400;
  background-color: transparent;
  border-bottom: 2px solid #F48120;
}
/* line 921, ../sass/style.scss */
.pagination li:first-child a {
  display: inline-block;
}
/* line 924, ../sass/style.scss */
.pagination li:first-child a:after {
  content: "<";
}
/* line 929, ../sass/style.scss */
.pagination li:last-child a {
  display: inline-block;
}
/* line 932, ../sass/style.scss */
.pagination li:last-child a:after {
  content: ">";
}
/* line 936, ../sass/style.scss */
.pagination li:nth-child(2) {
  counter-reset: pagination;
}
/* line 939, ../sass/style.scss */
.pagination li:nth-last-child(2) {
  display: inline-block;
}
/* line 941, ../sass/style.scss */
.pagination li:nth-last-child(2):after {
  padding: 0 1rem;
  content: "...";
}
/* line 945, ../sass/style.scss */
.pagination li:nth-last-child(2) a {
  display: inline-block;
}

/* line 952, ../sass/style.scss */
.slide {
  text-align: center;
}

/* line 956, ../sass/style.scss */
.slick-prev {
  left: 25px;
}

/* line 960, ../sass/style.scss */
.slick-next {
  right: 25px;
}

/* line 964, ../sass/style.scss */
.slick-prev,
.slick-next {
  width: 70px;
  height: 70px;
  z-index: 99;
}
/* line 969, ../sass/style.scss */
.slick-prev:before,
.slick-next:before {
  color: #F48120;
}

/* line 974, ../sass/style.scss */
.mc {
  color: #F48120;
}

/* line 978, ../sass/style.scss */
.bk {
  color: #000000;
}

/* line 982, ../sass/style.scss */
.bd {
  color: #000000;
}

/* line 986, ../sass/style.scss */
.gray-c {
  color: #2F393C;
}

/* line 990, ../sass/style.scss */
.sec-c {
  color: #647882;
}

/* line 994, ../sass/style.scss */
.italic {
  font-style: italic;
}

/* line 998, ../sass/style.scss */
.fs-75 {
  font-size: 0.75rem;
}

/* line 1002, ../sass/style.scss */
.fs-85 {
  font-size: 0.85rem;
}

/* line 1006, ../sass/style.scss */
.fs-9 {
  font-size: 0.9rem;
}

/* line 1010, ../sass/style.scss */
.fs-95 {
  font-size: 0.95rem;
}

/* line 4, ../sass/news.scss */
.news .date {
  color: #F48120;
}
/* line 8, ../sass/news.scss */
.news .news-item .item {
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 1.5rem;
}
/* line 11, ../sass/news.scss */
.news .news-item .item:last-child {
  margin-bottom: 0;
}
/* line 14, ../sass/news.scss */
.news .news-item .item:hover {
  opacity: 0.75;
}
/* line 17, ../sass/news.scss */
.news .news-item .item .cover {
  padding-right: 1.5rem;
}
/* line 19, ../sass/news.scss */
.news .news-item .item .cover .img {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
/* line 25, ../sass/news.scss */
.news .news-item .item .cover .img:before {
  position: relative;
  display: block;
  content: " ";
  padding-bottom: 100%;
}
/* line 34, ../sass/news.scss */
.news .news-item .item .title a {
  margin-bottom: 0;
}
/* line 36, ../sass/news.scss */
.news .news-item .item .title a .date {
  position: absolute;
}
/* line 39, ../sass/news.scss */
.news .news-item .item .title a .news-title {
  position: relative;
  display: block;
  padding-left: 110px;
  color: #000000;
}
/* line 50, ../sass/news.scss */
.news .news-de .img {
  position: relative;
  margin-bottom: 30px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}
/* line 57, ../sass/news.scss */
.news .news-de .img:before {
  position: relative;
  display: block;
  content: " ";
  padding-bottom: 50%;
}
/* line 64, ../sass/news.scss */
.news .news-de .text {
  margin-bottom: 15px;
}
