ul, li {
margin: 0;
padding: 0;
}
.abgne_tab {
    clear: left;
    width: 100%;
}
ul.tabs {
    width: 100%;
    height: 32px;
    border-bottom: 0px solid #999;
    border-left: 0px solid #999;
}
ul.tabs li {
    width:auto;
    display: inline-block;
    height: 31px;
    line-height: 31px;
    overflow: hidden;
    position: relative;
    margin-bottom: -1px;    /* 讓 li 往下移來遮住 ul 的部份 border-bottom */
    border: 0px solid #999;
    border-left: none;
    background: #fff;
}
ul.tabs li a {
    display: block;
    padding: 0 20px;
    color: #000;
    border: 0px solid #fff;
    text-decoration: none;
}
ul.tabs li a:hover {
    background: #93DAFF;
}
ul.tabs li.active  {
    background: #93DAFF;
    border-bottom: 1px solid#93DAFF;
}
ul.tabs li.active a:hover {
    background: #93DAFF;
}
div.tab_container {
    clear: left;
    width: 100%;
    border: 0px solid #999;
    border-top: none;
    background: #fff;
}
div.tab_container .tab_content {
    padding: 20px;
}
div.tab_container .tab_content h2 {
    margin: 0 0 20px;
}


.table7_1 {
    width:100%;
    margin:15px 0
}
.table7_1 th {
    background-color:#93DAFF;
    background:-o-linear-gradient(90deg, #93DAFF, #c1e9fe);
    background:-moz-linear-gradient( center top, #93DAFF 5%, #c1e9fe 100% );
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #93DAFF), color-stop(1, #c1e9fe) );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#93DAFF', endColorstr='#c1e9fe');
    color:#000000
}
.table7_1,.table7_1 th,.table7_1 td
{
    height:40px; 
    font-size:1.2em;
    text-align:center;
    padding:4px;
    border-bottom:1px solid #efefef;
    border-collapse:collapse
}
.table7_1 tr:nth-child(odd){
    background-color:#dbf2fe;
    background:-o-linear-gradient(90deg, #dbf2fe, #f7fcfe);
    background:-moz-linear-gradient( center top, #dbf2fe 5%, #f7fcfe 100% );
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dbf2fe), color-stop(1, #f7fcfe) );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbf2fe', endColorstr='#f7fcfe');
}
.table7_1 tr:nth-child(even){
    background-color:#fdfdfd;
}


