.gLoader {
    display:    none;
    position:   fixed;
    z-index:    999999;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .2)
                url('ajax-loader.gif')
                50% 50%
                no-repeat;
}

.loading {
    overflow: hidden;
}

.loading .gLoader {
    display: block;
}
