﻿html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    border: none;
    font-family: 微軟正黑體, Arial, sans-serif;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

ul:not(.editor ul) {
    margin: 0;
    padding: 0;
    list-style: none outside none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #929292;
}

h1,
.h1 {
    font-size: 36px;
}

h2,
.h2 {
    font-size: 30px;
}

h3,
.h3 {
    font-size: 24px;
}

h4,
.h4 {
    font-size: 18px;
}

h5,
.h5 {
    font-size: 16px;
}

h6,
.h6 {
    font-size: 15px;
}

p {
    margin: 0;
}


/*=====================Frame=====================*/

#wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
}

.container_w100,
.w100 {
    width: 100% !important;
}

.w35 {
    width: 35%;
}

.relative {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
}

.container_padding {
    padding: 60px 0;
}

.padding0 {
    padding: 0 !important;
}

.padding_right5 {
    padding-right: 5px;
}

.padding20 {
    padding: 20px;
}

.padding0_10 {
    padding: 0 10px;
}

.padding15_60 {
    padding: 15px 60px;
}

.padding40_0 {
    padding: 40px 0;
}

.padding_bottom5 {
    padding-bottom: 5px;
}

.padding_bottom10 {
    padding-bottom: 10px;
}

.padding_bottom60 {
    padding-bottom: 60px;
}

.margin_bottom20 {
    margin-bottom: 20px;
}

.margin_bottom40 {
    margin-bottom: 40px;
}

.margin_top20 {
    margin-top: 20px;
}

.margin_top40 {
    margin-top: 40px;
}

.margin40_0 {
    margin: 40px 0;
}

.border_radius_none,
.btn {
    border-radius: 0;
}

.radius5 {
    border-radius: 5px !important;
}

.strong {
    font-weight: bold;
}

.border_line2 {
    border: 2px solid #cdcdcd;
}

.lineHeight24 {
    line-height: 24px;
}

.lineHeight30 {
    line-height: 30px;
}

.lineHeight35 {
    line-height: 35px;
}

.text_color {
    color: #fff;
}

.text_color:hover {
    color: #333;
}

.text_fff {
    color: #fff;
}

.text_gray {
    color: #888888;
}

.text_red {
    color: #ff0000;
}

.text_orange {
    color: #ed760e;
}

.bg_orange {
    background-color: #ecab10 !important;
}

.bg_green {
    background-color: #79bc47 !important;
}

.bg_blue {
    background-color: #39afe6 !important;
}

.bg_blue2 {
    background-color: #0665b5 !important;
}

.form-control,
.form-group,
.relative {
    position: relative;
}

.form-group i {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.border {
    border: 1px solid #ddd;
}

.panel-title a {
    display: block;
}

.modal-header {
    background-color: #ecab10;
    border-radius: 5px 5px 0 0;
    color: #fff;
    border-bottom: 0;
}


/*====================Header=====================*/

header {
    height: auto;
    border-top: 3px solid #179be0;
}

.header_fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0px 2px 10px -2px rgba(20%, 20%, 40%, 0.3);
}

.header_top {
    border-bottom: 1px solid #ddd;
}

.logo {
    display: table;
    height: 80px;
}

.logo a {
    display: table-cell;
    vertical-align: middle;
}


/*====================Nav=====================*/

nav {
    position: relative;
}

.nav > li > a {
    padding: 6px 15px;
    color: #575757;
    font-size: 16px;
}

.sidebar-nav {
    position: relative;
}

.trvel_class > li {
    border: none !important;
    display: inline-block;
}

.trvel_class > li a .name {
    margin-top: 5px;
}

.trvel_class > li.org a {
    color: #ecab10;
}

.trvel_class > li.green a {
    color: #7bbf49;
}

.trvel_class > li.blue a {
    color: #33a7dd;
}

.member li i {
    position: relative;
    top: -1px;
    margin-right: 5px;
}


/*=================swiper banner=================*/

.swiper-container {
    width: 100%;
    height: auto;
}

.swiper-slide {
    text-align: center;
}

.yourFluidImage {
    width: 100%;
    height: auto;
}

.swiper-wrapper {
    height: auto !important;
}

.swiper-slide-active {
    height: auto !important;
}


/*=================Footer=================*/

footer {
    background-color: #fcfbfb;
    border-top: 1px solid #e0e0e0;
    padding: 50px 0 0;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer .title {
    color: #000;
    margin: 10px 0;
}

footer .det {
    color: #7d7d7d;
    line-height: 22px;
    margin-bottom: 5px;
}

footer .info {}

footer .info li {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #c3c3c3;
    border-radius: 4px;
    text-align: center;
    margin-right: 5px;
    moz-transition: all 0.2s ease-in-out;
    o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    webkit-transition: all 0.2s ease-in-out;
}

footer .info li i {
    position: relative;
    top: 5px;
    color: #fff;
    font-size: 20px;
}

footer .info li:hover {
    background-color: #7f7f7f;
}

footer .info li a {
    text-decoration: none;
}

footer .footer_travel {}

footer .footer_travel .nav {
    border: none;
    margin-bottom: 5px;
}

footer .footer_travel .nav a {
    padding: 9px 10px 9px 5px;
    color: #7d7d7d;
    background-color: transparent;
    border: none;
}

footer .footer_travel .nav .active a {
    position: relative;
    color: #000;
}

footer .footer_travel .tab-content {}

footer .footer_travel .tab-content ul {
    /*list-style-type: disc;*/
}

footer .footer_travel .tab-content a {
    color: #7d7d7d;
    line-height: 22px;
    margin-bottom: 5px;
    font-weight: 500;
}

footer .nav-tabs > li.active > a,
footer .nav-tabs > li.active > a:hover,
footer .nav-tabs > li.active > a:focus {
    background-color: transparent;
    border: none;
}

footer .nav-tabs > li:before {
    content: "/";
    position: absolute;
    right: 0;
    top: 7px;
}

footer .nav-tabs > li:last-child:before {
    content: "";
}

footer .footer2 {
    margin-top: 60px;
    padding: 15px 0;
    border-top: 1px solid #e0e0e0;
    background-color: #f5f5f5;
}

footer .footer2 li {
    display: inline-block;
}

footer .footer2 li p,
footer .footer2 li a {
    color: #7d7d7d;
}

footer .footer2 > ul li ul li {
    border-right: 1px solid #7d7d7d;
    padding-right: 5px;
    margin-right: 5px;
}

footer .footer2 > ul li ul li:last-child {
    border: none;
    padding-right: 0px;
    margin-right: 0px;
}

.scroll_top {
    position: fixed;
    z-index: 9999;
    bottom: 30px;
    right: 30px;
    background-color: #c3c3c3;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    display: none;
}

.scroll_top i {
    position: relative;
    top: 3px;
    color: #fff;
    font-size: 23px;
}

.scroll_top:hover {
    background-color: #219ee1;
}


/*=================首頁-行程=================*/

.stroke1 {
    padding: 0;
}

.view {
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    list-style-type: none;
}

.view .mask,
.view .content {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.view img {
    display: block;
    position: relative;
}

.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
}

.view p {
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
}

.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    -webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
    box-shadow: 0 0 1px #000;
}

.view a.info: hover {
    -webkit-box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

.view-stroke img {
    width: 100%;
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.view-stroke .mask {
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.view-stroke .mask:hover a {
    color: #fff;
}

.view-stroke h2 {
    background: transparent;
    margin: 5px 40px 5px 40px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    color: #fff;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.view-stroke p {
    color: #fff;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.view-stroke .info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.view-stroke .info ul {
    padding: 0;
}

.view-stroke .info ul li {
    display: inline-block;
    margin: 0 15px;
}

.view-stroke .info ul li a {
    opacity: 1;
}

.view-stroke .info ul li a:hover {
    opacity: 0.8;
}

.view-stroke:hover .info {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -o-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
    opacity: 1;
}

.view-stroke:hover img {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0.8)";
    filter: alpha(opacity=0.8);
    opacity: 0.8;
}

.view-stroke:hover .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.view-stroke:hover h2,
.view-stroke:hover p,
.view-stroke:hover a.info {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.bg_pic {
    width: 100%;
    min-height: 700px;
    background: url('../../assets/plugins/img/index_bg1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
    padding: 0px 10px;
}

.stroke2 {
    width: 100%;
    list-style-type: none;
    padding: 0;
}

.stroke2 li {
    margin-bottom: 20px;
}

.stroke2 li .info {
    position: relative;
}

.stroke2 li .info img {
    width: 100%;
}

.stroke2 li .info .info_into {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    opacity: 0;
    moz-transition: all 0.2s ease-in-out;
    o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    webkit-transition: all 0.2s ease-in-out;
}

.stroke2 li:hover .info_into {
    opacity: 1;
}

.stroke2 li .info ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: calc(50% - 20px);
}

.stroke2 li .info ul li {
    display: inline-block;
}

.stroke2 li .mask {
    background-color: #fff;
    padding: 15px;
}

.stroke2 li .mask a {
    color: #333;
}


/*-------- Step ------*/

.frst-timeline-block {
    position: relative;
    min-height: 16px;
    padding-left: 35px;
    padding-right: 35px;
}

.frst-timeline-block::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}

.frst-timeline-block:last-child::before {
    display: none;
}

.frst-right-align .frst-timeline-block::before {
    right: 0;
    left: auto !important;
    margin-left: 0 !important;
}

.frst-timeline-block::after {
    content: "";
    display: table;
    clear: both;
}

.frst-timeline-img i {
    display: block;
}

.frst-timeline-img {
    position: absolute;
    min-width: 1px;
    min-height: 1px;
    left: 0;
    top: 0;
}

.frst-right-align .frst-timeline-img {
    margin-left: 0 !important;
    left: auto !important;
    right: 0;
}

.frst-last-empty-item .frst-timeline-img span {
    vertical-align: top;
}

.frst-timeline-content-inner {
    position: relative;
}

.cssanimations .frst-timeline-content.is-hidden {
    visibility: hidden;
}

.cssanimations .frst-timeline-content.animated {
    visibility: visible;
}

.frst-labels span {
    display: inline-block;
}

.frst-labels {
    padding: 20px 0;
}

.frst-labels.frst-start-label {
    padding-top: 0 !important;
}

.frst-labels.frst-end-label {
    margin-bottom: 0 !important;
}

.frst-timeline-block:nth-child(1) .frst-timeline-content-inner {
    background: #fa9f29;
}

.frst-timeline-block:nth-child(2) .frst-timeline-content-inner {
    background: #faae29;
}

.frst-timeline-block:nth-child(3) .frst-timeline-content-inner {
    background: #68b42f;
}

.frst-timeline-block:nth-child(4) .frst-timeline-content-inner {
    background: #7dbd38;
}

.frst-timeline-block:nth-child(5) .frst-timeline-content-inner {
    background: #39afe6;
}

.frst-timeline-block:nth-child(6) .frst-timeline-content-inner {
    background: #41b7ee;
}

.frst-timeline-block:nth-child(7) .frst-timeline-content-inner {
    background: #fa9f29;
}

.frst-timeline-block:nth-child(8) .frst-timeline-content-inner {
    background: #faae29;
}

.frst-timeline-style {
    color: #000;
}

.frst-timeline-style .frst-timeline-block::before {
    background: rgba(0, 0, 0, 0);
    margin-left: -1px;
    border: 1px solid #949494;
    top: 65px;
    background-image: -moz-radial-gradient(#6E6F72 25%, rgba(255, 255, 255, 0) 0%);
    background-image: -webkit-radial-gradient(#6E6F72 25%, rgba(255, 255, 255, 0) 0%);
    background-image: radial-gradient(#6E6F72 25%, rgba(255, 255, 255, 0) 0%);
    background-position: center;
    background-size: 10px 13px;
    background-repeat: repeat-y;
}

.frst-timeline-style.frst-right-align .frst-timeline-block::before {
    margin-right: -2px;
}

.frst-timeline-block {
    padding-bottom: 30px;
    padding-left: 45px;
    padding-right: 45px;
}

.frst-timeline-style .frst-timeline-img {
    padding: 0;
    margin-left: -21px;
    top: 45px;
    /*--- Box shadow value --*/
    width: 42px;
    height: 42px;
    color: #fff;
    text-align: center;
    font-size: 24px;
}

.frst-timeline-style .frst-timeline-img span {
    display: inline-block;
    margin: auto;
    padding: 6px;
    min-height: 20px;
    min-width: 20px;
    background: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    vertical-align: top;
    border: 3px solid #949494;
}

.frst-timeline-style .frst-timeline-img i {
    display: block;
}

.frst-timeline-style.frst-right-align .frst-timeline-img {
    margin-right: -21px;
}

.frst-timeline-style .frst-timeline-content {
    color: white;
}

.frst-timeline-style h2 {
    margin: 0;
    font-weight: 800;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}

.frst-date-opposite.frst-timeline-style h2 {}

.frst-timeline-style p {
    margin: 5px 0 0 0;
    line-height: 19px;
}

.frst-timeline-style .frst-labels span {
    position: relative;
    left: -35px;
    width: 78px;
    height: 78px;
    background: #f13d9e;
    color: #fff;
    font-weight: 800;
    padding: 23px 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    margin-left: -39px;
}

.frst-timeline-style.frst-right-align .frst-labels span {
    left: auto;
    right: -47px;
    margin-right: -39px;
    margin-left: 0;
}

.frst-timeline-style .frst-timeline-content-inner::before,
.frst-timeline-style .frst-timeline-content-inner::after {
    content: "";
    border-style: solid;
    border-color: transparent;
    position: absolute;
}

.frst-timeline-style .frst-timeline-content-inner::before {
    border-width: 20px 40px 20px 0;
    border-right-color: #D5DBDB;
    left: -25px;
    top: 35px;
}

.frst-timeline-style .frst-timeline-content-inner::after {
    border-width: 20px 40px 20px 0;
    border-right-color: #D5DBDB;
    left: -25px;
    top: 35px;
}

.frst-timeline-style.frst-right-align .frst-timeline-content-inner::before {
    border-width: 20px 0 20px 40px;
    border-left-color: #D5DBDB;
    left: auto;
    right: -25px;
}

.frst-timeline-style.frst-right-align .frst-timeline-content-inner::after {
    border-width: 20px 0 20px 40px;
    border-left-color: #D5DBDB;
    right: -25px;
    left: auto;
}

.text-section {
    padding: 0 20px;
    margin: 0 60px;
}

.frst-timeline-block:nth-child(odd) .frst-timeline-content-inner .icon {
    position: absolute;
    font-size: 46px;
    right: 25px;
    bottom: 20px;
}

.frst-timeline-block:nth-child(even) .frst-timeline-content-inner .icon {
    position: absolute;
    font-size: 46px;
    left: 25px;
    bottom: 20px;
}


/*箭頭*/

.frst-timeline-style.frst-alternate .frst-timeline-block:nth-child(1) .frst-timeline-content-inner::after {
    border-left-color: #fa9f29;
}

.frst-timeline-style.frst-alternate .frst-timeline-block:nth-child(2) .frst-timeline-content-inner::after {
    border-right-color: #faae29;
}

.frst-timeline-style.frst-alternate .frst-timeline-block:nth-child(3) .frst-timeline-content-inner::after {
    border-left-color: #68b42f;
}

.frst-timeline-style.frst-alternate .frst-timeline-block:nth-child(4) .frst-timeline-content-inner::after {
    border-right-color: #7dbd38;
}

.frst-timeline-style.frst-alternate .frst-timeline-block:nth-child(5) .frst-timeline-content-inner::after {
    border-left-color: #39afe6;
}

.frst-timeline-style.frst-alternate .frst-timeline-block:nth-child(6) .frst-timeline-content-inner::after {
    border-right-color: #41b7ee;
}

.frst-timeline-style.frst-alternate .frst-timeline-block:nth-child(7) .frst-timeline-content-inner::after {
    border-left-color: #fa9f29;
}

.frst-timeline-style.frst-alternate .frst-timeline-block:nth-child(odd) .text-section {
    border-right: 1px solid #fff;
    margin-right: 60px;
    margin-left: 10px;
    padding-left: 0;
}

.frst-timeline-style.frst-alternate .frst-timeline-block:nth-child(even) .text-section {
    border-left: 1px solid #fff;
    margin-left: 60px;
    margin-right: 10px;
    padding-right: 0;
}


/*=================內頁=================*/

.banner_info {
    position: relative
}

.banner_into {
    width: 100%;
    min-height: 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container_breadcrumb {
    padding-top: 80px;
}

.container_breadcrumb .breadcrumb {
    background-color: transparent;
}

.container_breadcrumb .breadcrumb .breadcrumb-item,
.container_breadcrumb .breadcrumb a {
    font-size: 20px;
    /*color: #fff;*/
}

.container_breadcrumb .breadcrumb > li + li:before {
    /*color: #fff;*/
}

.combination_list {}

.combination_list ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.combination_list ul li {
    width: 100%;
    display: inline-block;
    border: 1px solid #eeeeee;
    margin-bottom: 15px;
    padding: 10px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.combination_list > ul > li:hover {
    background-color: #fcfcfc;
}

.combination_list ul li .img {
    position: relative;
    padding: 0;
}

.combination_list ul li .main {
    position: relative;
}

.combination_list ul li .main .category {
    background-color: #888;
    color: #fff;
    padding: 8px 12px;
    margin-bottom: 10px;
    display: inline-block;
}

.combination_list ul li .main .title {
    margin-bottom: 10px;
    color: #575757;
}

.combination_list ul li .main .det {}

.combination_list ul li .main .det li {
    border: none;
    padding: 0;
    margin: 0;
    line-height: 18px;
    color: #888;
}

.combination_list ul li .main .more {
    position: relative;
    bottom: 0px;
    margin-top: 10px;
}

.combination_list ul li .main .more .btn {
    padding: 6px 12px;
    color: #4e4e4e;
}

.combination_list ul li .main .more .btn i {
    margin-left: 5px;
}


/*收合*/

.menu ul.accordion {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    border-bottom: 1px solid #eeeeee;
}

.menu ul.accordion ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
}

.menu ul.accordion > li {
    background-color: #fbfbfb;
    border: 1px solid #eeeeee;
    border-bottom: none;
    padding: 0;
}

.menu ul.accordion ul li {
    border-top: 1px solid #eeeeee;
    background-color: #fff;
    padding: 0px 10px;
}

.menu ul.accordion li a {
    position: relative;
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding: 10px 15px;
    color: #717171;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.menu ul.accordion li a:hover {
    color: #0967b6;
}

.menu ul.accordion .inner {
    overflow: hidden;
    display: none;
}

.menu ul.accordion > li > a.toggle:after {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 18px;
    font-family: 'FontAwesome';
    content: "\f104";
}

.menu ul.accordion > li > a.expanded:after {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 18px;
    font-family: 'FontAwesome';
    content: "\f107";
}

.news_list {
    position: relative;
}

.news_list ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.news_list .grid,
.news_list .grid_top {
    position: relative;
    width: 100%;
}

.news_list .grid_top {
    display: inline-block;
}

.news_list .grid-item {
    width: 50%;
    float: left;
    margin-bottom: 10px;
    padding: 0 10px 5px 10px;
}

.news_list .grid-item_first {
    width: 100%;
}

.news_list .grid-item .news_into {
    border: 1px solid #eeeeee;
    padding: 10px;
    display: inline-block;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.news_list .grid-item:hover .news_into {
    background-color: #fbfbfb;
}

.news_list .grid-item .img {
    position: relative;
    padding: 0;
    margin: 0;
}

.news_list .grid-item .img .date {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    color: #fff;
    padding: 5px 8px;
}

.news_list .grid-item .img img {
    width: 100%;
}

.news_list .grid-item .main {}

.news_list .grid-item .main .title {
    line-height: 20px;
    color: #3a3a3a;
}

.news_list .grid-item .main .det {
    line-height: 19px;
    color: #575757;
}

.news_list .grid-item .main .info {}

.news_list .grid-item .main .info ul {}

.news_list .grid-item .main .info ul li {
    display: inline-block;
    border: none;
    padding: 3px 3px 0 3px;
}

.news_list .grid-item .main .info ul li a i {
    position: relative;
    padding-top: 3px;
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 23px;
    background-color: #c3c3c3;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    margin-right: 5px;
    moz-transition: all 0.2s ease-in-out;
    o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    webkit-transition: all 0.2s ease-in-out;
}

.news_list .grid-item .main .info ul li a i:hover {
    background-color: #7f7f7f;
}

.about_img {
    margin-bottom: 60px;
}

.about_img img {
    width: 100%;
}

.main_sect {
    margin-bottom: 80px;
}

.main_sect .title {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
}

.main_sect .title .text {
    display: inline;
    color: #0a6aba;
    padding: 10px 0;
    border-bottom: 1px solid #0a6aba;
}

.main_sect .det {
    line-height: 22px;
}

.main_sect .table {
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
}

.main_sect .table table {
    width: 100%;
}

.main_sect .table table tr {
    border-bottom: 1px solid #e0e0e0;
}

.main_sect .table table td {
    border-right: 1px solid #e0e0e0;
    padding: 10px 5px;
    font-size: 17px;
}

.main_sect .table table td:nth-child(odd) {
    background-color: #eeeeee;
}

.main_sect .link {}

.main_sect .link ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main_sect .link ul li {
    display: inline-block;
    margin-right: 15px;
}

.main_sect .link ul li a {
    color: #1c9fe4;
    font-size: 18px;
}

.main_sect .link ul li a i {
    margin: 0 10px;
}

.gallery_info {}

.gallery_info .gallery {
    margin-bottom: 15px;
}

.contact {
    width: 100%;
    display: inline-block;
}

.contact ul {
    width: 100%;
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.contact ul li {
    text-align: left;
}

.contact ul li div.icon {
    display: table-cell;
    vertical-align: middle;
}

.contact ul li div.icon .border {
    width: 60px;
    height: 60px;
    background-color: #059eef;
    border-radius: 90%;
    text-align: center;
    padding-top: 14px;
}

.contact ul li div.icon i {
    font-size: 30px;
    color: #fff;
}

.contact ul li div.text {
    width: calc(100% - 62px);
    padding: 0 20px;
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    color: #8e8e8e;
}

.contact ul li div.text span {
    display: block;
    color: #000;
}

.contact_form {}

.contact_form p {
    line-height: 25px;
}

.contact_form > p.main_font_color {
    margin-top: 60px;
}

.contact_form form {
    text-align: left;
    margin-top: 60px;
    border-top: 1px solid #ddd;
}

.contact_form form .row {
    display: table;
    width: 100%;
    border-bottom: 1px solid #ddd;
    background-color: #fafafa;
    margin: 0;
}

.contact_form form .row > div {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 10px 0 10px;
    text-align: right;
}

.contact_form form .row > div:nth-child(2) {
    text-align: right;
    padding-right: 10px;
}

.contact_form form label {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}

.contact_form form label span {
    margin: 0 3px;
}

.contact_form form span.notice_font_color {
    font-weight: bold;
}

.contact_form form input,
.contact_form form textarea,
.contact_form form select {
    position: relative;
    border: 1px solid #cacaca;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.contact_form form textarea {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.contact_form form ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.contact_form form ul li {
    display: inline-block;
    width: 49%;
    text-align: center;
}

.contact_form form button {
    width: 95%;
    margin: 15px 0 30px 0;
    border-radius: 2px;
    moz-transition: all 0.3s ease-in-out;
    o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    webkit-transition: all 0.3s ease-in-out;
}

.contact_form form .required {
    background-image: url(../../assets/plugins/img/required.png);
    background-position: 99% 3px;
    background-repeat: no-repeat;
}

.map_pages {
    height: 500px;
}

.login_form {
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 8px -2px rgba(20%, 20%, 40%, 0.3);
}

.login_form .login_icon {
    position: relative;
    top: -40px;
    text-align: center;
    padding: 5px;
    width: 82px;
    height: 82px;
    margin: 0 auto;
    border-radius: 90px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
}

.login_form .login_icon i {
    font-size: 70px;
    color: #c2c2c2;
}

.login_form form {
    width: 100%;
    display: inline-block;
    margin: 0;
}

.login_form form .fence,
form .fence {
    margin-bottom: 20px !important;
}

.options {}

.options .nav-tabs {
    margin: 0;
    border: 0;
}

.options .nav-tabs li {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.options .nav-tabs li a {
    background-color: #ecab11;
    color: #fff;
    border: 0;
    margin: 0;
    padding: 15px 0;
    border-radius: 0;
}

.options .nav-tabs li.active a {
    background-color: #7a818b;
    color: #fff;
    border: 0;
}

.options .tab-content {
    background-color: #7a818b;
    border: 0;
    padding-top: 35px;
}

.options .tab-content .form-control {
    background-color: #89919e;
    border: 1px solid #89919e;
    color: #fff;
    border-radius: 0;
    padding: 0 15px;
    font-size: 16px;
    font-family: 微軟正黑體;
}

.options .tab-content select:disabled {
    color: #c9ccd2;
}

.options .tab-content input::-webkit-input-placeholder {
    color: #c9ccd2;
}

.options .tab-content input:-moz-placeholder {
    color: #c9ccd2;
}

.options .tab-content input::-moz-placeholder {
    color: #c9ccd2;
}

.options .tab-content input:-ms-input-placeholder {
    color: #c9ccd2;
}

.options .tab-content .btn {
    width: 100%;
    padding: 8px 12px;
}

.form-basic {
    border: 1px solid #e0e0e0;
}

.form-basic .title {
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    background-color: #f5f5f5;
    color: #717171;
    padding: 20px;
    font-size: 18px;
}

.form-basic .title i {
    font-size: 22px;
    padding: 0 5px;
}

.form-basic .title span {
    position: absolute;
    right: 15px;
    top: 15px;
}

.form-basic .content {
    padding: 20px;
}

.form-basic .content .row {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
}

.form-basic .content .num {
    list-style-type: decimal;
    padding: 0 15px;
}

.form-basic .content .num li {
    line-height: 25px;
    font-size: 15px;
    color: #6c6c6c;
}

.room li {
    margin-bottom: 20px;
}

.room_ouside {
    position: relative;
    border: 1px solid #e0e0e0;
}

.room_ouside .top {
    position: relative;
}

.room_ouside .top img {
    width: 100%;
}

.room_ouside .top:hover .active,
.room_ouside .top .tag {
    display: block !important;
}

.room_ouside .top .active {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #ecab11;
    background-color: rgba(0, 0, 0, .7);
    font-size: 20px;
    display: none;
}

.room_ouside .top .active .check {
    display: table;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.room_ouside .top .active .check span {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.room_ouside .top .active .check i {
    display: block;
    font-size: 35px;
}

.room_ouside .top .name {
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
}

.room_ouside .bottom {}

.room_ouside .bottom .brief {
    width: 100%;
    height: 38px;
    background-color: #ecab11;
    color: #fff;
    font-size: 16px;
    line-height: 38px;
}

.room_ouside .bottom .brief i {
    font-size: 22px;
    padding: 0 10px;
}

.room_ouside .bottom .brief .near {
    width: calc(100% - 65px);
    height: 38px;
    float: left;
    overflow: hidden;
}

.room_ouside .bottom .brief .btn {
    float: right;
    padding: 6px;
    margin: 0;
    display: inline-block;
}

.room_ouside .container a[data-role="popover"] {
    display: inline-block;
    padding: 1em;
    margin: 1em;
    color: #fff;
    text-decoration: none;
}

.room_ouside .popover-modal {
    margin-top: 38px;
    border: 1px solid #ddd;
}

.room_ouside .popover-modal .popover-body {
    overflow: hidden;
    padding: 1em;
}

.room_ouside .popover-modal .popover-body table {
    color: #6c6c6c;
    border: 1px solid #ddd;
    margin: 0;
}

.room_ouside .popover-modal .popover-body table thead th {
    background-color: #ddd;
}

.room_ouside .popover-modal .popover-body table tr td,
.popover-modal .popover-body table tr th {
    text-align: center;
    border-right: 1px solid #ddd;
}

.room_ouside .bottom .text {
    padding: 10px;
}

.room_ouside .bottom .text:hover {
    background-color: #f4f4f4;
}

.room_ouside .bottom .text p {
    color: #6c6c6c;
    line-height: 20px;
    font-size: 16px;
    height: 120px;
    width: 100%;
    overflow: hidden;
}

.form-basic .content .checkbox {
    font-size: 15px;
    color: #717171;
}

.form-basic .content .checkbox .icons {
    top: 6px;
}

.form-basic .content .form-control {
    width: auto;
    display: inline-block;
}

.registration {}

.registration .form-control[disabled] {
    color: #888;
}

.registration .radio,
.member .radio {
    display: inline-block;
    margin-right: 10px;
}

.next {
    background-color: #f5f5f5;
    padding: 10px 0;
}

.check_form {
    background-color: #f5f5f5;
    padding: 10px 0;
}

.next .btn {
    min-width: 300px;
    padding: 13px;
}

.check_form .btn {
    min-width: 200px;
    padding: 13px;
    margin: 5px 10px;
}

.table-basic {
    overflow-x: auto;
}

.table-basic table {
    width: 100%;
    color: #6c6c6c;
    margin: 0;
}

.table-basic table thead th {
    background-color: #fafafa;
}

.table-basic table tbody tr {
    border-top: 1px solid #ddd;
}

.table-basic table tr th {
    padding: 12px 5px;
    text-align: center;
}

.table-basic table tr td {
    padding: 8px 5px;
    text-align: center;
}

.member_tab {}

.member_tab .nav {
    border: none;
    margin: 10px 0;
}

.member_tab .nav > li > a {
    color: #ecab10;
    background-color: #fafafa;
    border: 1px solid #f0ecec;
    margin-right: 5px;
    border-radius: 0;
    padding: 10px 20px;
    margin-bottom: 5px;
}

.member_tab .nav > li > a i {
    margin-right: 5px;
}

.member_tab .nav > li.active {}

.member_tab .nav > li.active > a {
    background-color: #ecab10;
    color: #fff;
}

.remind_news {
    position: absolute;
    right: -8px;
    top: -4px;
    background-color: #ca1a1a;
    color: #fff;
    text-align: center;
    border-radius: 90%;
    width: 15px;
    height: 15px;
}

.remind_news span {
    font-size: 12px;
    position: relative;
    top: -2px;
}

.message_info {}

.message_info .q {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.message_info .q,
.message_info .a {
    overflow: hidden;
}

.message_info .q .img {
    width: 65px;
    height: 65px;
    border: 1px solid #e4e4e4;
    float: left;
}

.message_info .q .mesg,
.message_info .a .mesg {
    width: calc(100% - 75px);
    padding: 0 5px;
    float: right;
    line-height: 25px;
    font-size: 16px;
    color: #464646;
}

.message_info .bring {
    padding: 20px 0;
}

.message_info .bring textarea {}


/*================================
------------Only PC-----------
================================*/

@media only screen and (min-width:679px) {
    .frst-date-opposite {
        margin-left: 203px;
    }
    .frst-left-align.frst-date-opposite {
        margin-left: 203px;
    }
    .frst-right-align.frst-date-opposite {
        margin-right: 203px;
        margin-left: 0;
    }
    .frst-timeline-style.frst-alternate .frst-timeline-content,
    .frst-timeline-style.frst-date-opposite .frst-timeline-content {
        width: calc(50% - 44px);
    }
    .frst-timeline-style.frst-date-opposite.frst-right-align .frst-date,
    .frst-timeline-style.frst-date-opposite.frst-alternate .frst-timeline-block.frst-odd-item .frst-date {
        right: -248px;
        left: auto;
        text-align: left;
        top: 60px;
    }
    .frst-timeline-style .frst-timeline-content-inner {
        padding-left: 110px;
        position: relative;
    }
    .frst-timeline-style.frst-right-align .frst-timeline-content-inner,
    .frst-timeline-style.frst-alternate .frst-timeline-block.frst-odd-item .frst-timeline-content-inner {
        padding-left: 0;
        padding-right: 110px;
    }
    .frst-timeline-style.frst-date-opposite .frst-timeline-content-inner,
    .frst-timeline-style.frst-date-opposite .frst-timeline-block.frst-odd-item .frst-timeline-content-inner {
        position: relative;
        padding: 30px;
    }
    .frst-timeline-style.frst-alternate .frst-timeline-block.frst-odd-item .frst-date {
        left: auto;
        right: 0;
    }
    .frst-timeline-style.frst-alternate .frst-labels span {
        margin: 0;
    }
    .frst-timeline-style.frst-alternate .frst-odd-item .frst-timeline-content-inner::before {
        border-width: 20px 0 20px 40px;
        border-left-color: #D5DBDB;
        left: auto;
        right: -25px;
    }
    .frst-timeline-style.frst-alternate .frst-odd-item .frst-timeline-content-inner::after {
        border-width: 20px 0 20px 40px;
        border-left-color: #D5DBDB;
        right: -25px;
        left: auto;
    }
}

@media only screen and (min-width:679px) {
    .frst-date-opposite,
    .frst-left-align.frst-date-opposite {
        margin-left: 190px;
    }
    .frst-right-align.frst-date-opposite {
        margin-right: 190px;
        margin-left: 0;
        text-align: right;
    }
    .frst-date-opposite.frst-alternate {
        margin: 0;
    }
    .frst-timeline.frst-alternate.frst-left-align .frst-timeline-content,
    .frst-timeline.frst-alternate.frst-right-align .frst-timeline-content,
    .frst-timeline.frst-date-opposite.frst-left-align .frst-timeline-content,
    .frst-timeline.frst-date-opposite.frst-right-align .frst-timeline-content {
        width: 100%;
    }
    .frst-alternate .frst-timeline-block::before {
        left: 50%;
    }
    .frst-alternate .frst-timeline-img {
        left: 50% !important;
    }
    .frst-alternate .frst-timeline-block.frst-even-item .frst-timeline-content {
        float: right;
    }
    .frst-alternate .frst-timeline-block.frst-odd-item .frst-timeline-content {
        float: left;
    }
    .frst-date-opposite .frst-date {
        position: absolute;
        top: 0;
        text-align: right;
    }
    .frst-alternate .frst-timeline-block.frst-odd-item .frst-timeline-content,
    .frst-alternate.frst-date-opposite .frst-timeline-block.frst-even-item .frst-date,
    .frst-date-opposite.frst-left-align .frst-date,
    .frst-right-align {
        text-align: right;
        border-right: 1px solid #fff;
    }
    .frst-alternate.frst-date-opposite .frst-timeline-block.frst-odd-item .frst-timeline-content .frst-date {
        text-align: left;
        border-left: 1px solid #fff;
    }
    .frst-alternate .frst-timeline-label-block {
        text-align: center;
    }
    .frst-alternate .frst-timeline-label-block .frst-labels span {
        left: 0;
        right: 0;
    }
}

@media (min-width:769px) {
    .sidebar-nav .main {
        display: inline-block;
    }
    .sidebar-nav .member {
        float: right;
    }
    .nav > li > a span.arrow {
        display: none;
    }
    .sidebar ul li {
        display: inline-block;
        border: none;
    }
    .trvel_class {
        position: absolute;
        right: 0;
        top: -81px;
    }
}


/*================================
------------Tab、Mobile-----------
================================*/

@media only screen and (max-width:769px) {
    .frst-timeline {
        margin-left: 20px;
    }
    .frst-timeline.frst-responsive-right,
    .frst-timeline.frst-right-align {
        margin-right: 20px;
        margin-left: 0;
    }
    .frst-responsive-right .frst-timeline-block::before,
    .frst-responsive-right .frst-timeline-img {
        margin-left: 0 !important;
        left: auto !important;
        right: 0;
    }
    .frst-responsive-right {
        text-align: right;
    }
    .combination_list ul li .main {
        padding: 15px 0;
    }
    .news_list .grid-item .img,
    .news_list .grid-item .main {
        width: 100%;
        margin-bottom: 10px;
    }
    .contact_form form .row > div {
        text-align: left;
        padding-top: 0;
        padding-bottom: 10px;
    }
    .form-basic .content .row .text-right {
        text-align: left !important;
    }
}

@media only screen and (max-width:678px) {
    .frst-timeline-style .frst-timeline-block::before {
        top: 0px;
    }
    .frst-timeline-style .frst-timeline-img {
        top: -10px;
    }
    .frst-timeline-style.frst-responsive-right .frst-timeline-block::before {
        margin-right: -2px;
    }
    .frst-timeline-style.frst-responsive-right .frst-timeline-img {
        margin-right: -21px;
    }
    .frst-timeline-style.frst-responsive-right .frst-labels span {
        left: auto;
        right: -35px;
        margin-left: 0;
        margin-right: -39px;
    }
    .frst-timeline-style .frst-timeline-content-inner::after,
    .frst-timeline-style .frst-timeline-content-inner::before {
        border-width: 0px 20px 20px 0px;
        border-right-color: #D5DBDB;
        left: -20px;
        top: 0px;
    }
    .frst-timeline-style.frst-alternate .frst-timeline-block:nth-child(odd) .text-section,
    .frst-timeline-style.frst-alternate .frst-timeline-block:nth-child(even) .text-section {
        border-right: none;
        margin-left: 40px;
        margin-right: 10px;
        padding-left: 10px;
    }
    .frst-timeline-style.frst-alternate .frst-timeline-block .text-section {
        border-left: 1px solid #fff;
        margin-left: 30px;
    }
    .frst-timeline-content-inner {
        padding: 20px 10px 20px 40px;
    }
    .frst-timeline-block:nth-child(odd) .frst-timeline-content-inner .icon,
    .frst-timeline-block:nth-child(even) .frst-timeline-content-inner .icon {
        left: 25px;
        bottom: 10px;
    }
    /*箭頭*/
    .frst-timeline-style.frst-alternate .frst-timeline-block:nth-child(1) .frst-timeline-content-inner::after {
        border-right-color: #fa9f29;
    }
    .frst-timeline-style.frst-alternate .frst-timeline-block:nth-child(3) .frst-timeline-content-inner::after {
        border-right-color: #68b42f;
    }
    .frst-timeline-style.frst-alternate .frst-timeline-block:nth-child(5) .frst-timeline-content-inner::after {
        border-right-color: #39afe6;
    }
    .frst-timeline-style.frst-alternate .frst-timeline-block:nth-child(7) .frst-timeline-content-inner::after {
        border-right-color: #fa9f29;
    }
}

@media (max-width:769px) {
    /*=====================Frame=====================*/
    .mob_padding0_15 {
        padding-right: 15px;
        padding-left: 15px;
    }
    /*==========================================*/
    .logo {
        width: 100%;
    }
    .logo a img {
        width: 200px;
        height: 41px;
    }
    header,
    .logo {
        height: 60px;
    }
    .navbar-header {
        position: absolute;
        right: 20px;
        top: -75px;
    }
    nav.container {
        padding: 0;
    }
    nav.container .sidebar {
        position: absolute;
        width: 100%;
        z-index: 999;
        top: -1px;
        background-color: #fff;
    }
    nav.container .sidebar .nav li {
        text-align: center;
    }
    nav.container .sidebar .trvel_class {
        border-bottom: 1px solid #e7e7e7;
    }
    nav.container .sidebar .trvel_class li {
        width: 32.3%;
        text-align: center;
    }
    nav.container .sidebar .trvel_class li a {
        padding: 9px 8px;
    }
    .contact ul li {
        margin-bottom: 10px;
    }
}

@media (max-width:640px) {
    footer .footer2 .logo {
        margin-bottom: 10px;
    }
    .room li {
        width: 100%;
    }
    .member_tab .nav > li {
        width: 47%;
        margin: 2px 1.5%;
        display: inline-block;
    }
    .member_tab .nav {
        margin: 10px 3%;
    }
    .member_tab .nav > li > a {
        width: 100%;
        text-align: center;
    }
    .member_tab .nav > li > a i {
        display: none;
    }
}

@media (max-width:480px) {
    .view-stroke:hover .amount,
    .view-stroke:hover .info {
        display: none;
    }
    footer .container .row > li {
        width: 100%;
        margin-bottom: 20px;
    }
    .news_list .grid-item {
        width: 100%;
    }
    .check_form .btn {
        width: 96%;
        min-width: 200px;
        margin: 5px 2%;
    }
}
