@charset "utf-8";
/* 簡單流變媒體
   注意: 流變媒體要求您必須移除 HTML 中媒體的高度和寬度屬性
   http://www.alistapart.com/articles/fluid-images/ 
*/

/*共用區*/
body {
	margin:0;
	padding:0;
	background:#fafafa;
}

html {
	margin:0;
	padding:0;
}

article {
	margin:0;
	padding:0;
}

.clear_line{
	clear:both;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}/* 取消ul預設的內縮及樣式 */

img, object, embed, video {
	max-width: 100%;
}
/* IE 6 不支援最大寬度，因此寬度預設為 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver 流變格線屬性
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	靈感來自於 Ethan Marcotte 的「具回應功能的網頁設計」 
	http://www.alistapart.com/articles/responsive-web-design
	
	以及 Joni Korpi 的「黃金格線系統」
	http://goldengridsystem.com/
*/

/* 行動版面: 480px 以下。 */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#header {
	width:1280px;
	margin:0 auto;
	padding:0 20px 0 0;
	}

h1 {
	font-size:48px; 
	color:#005ea6;
	font-family: "微軟正黑體","新細明體","Adobe 黑体 Std R" ;
	font-weight:bold;
	}
	
h2 {
	font-size:48px; 
	color:#000000;
	font-family: "微軟正黑體","新細明體","Adobe 黑体 Std R" ;
	font-weight:bold;
	padding:0;
	margin:20px 0 0 0;
	}
	
.index_title {
	float:left;
    }
	
.sec_title {
	float:right;
	text-align:right;
    }
	
#index_area {
	width:1280px;
	margin:150px auto 50px;
	}
	
.left_area {
	float:left;
    }
	
.right_area {
	float:left;
    }
	
.area_1f {
	display:block;
	margin:280px 0 0 0;
	}

.right_area a.area_1f {
	background:url(../images/1F_area.png) no-repeat;
	width:400px;
	height:144px;
}

.right_area a.area_1f:hover {
	background:url(../images/1F_area_over.png) no-repeat;
	width:400px;
	height:144px;
}

/*區域選擇*/
.f_number {
	font-size:100px; 
	color:#656565;
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight:bold;
	float:left;
	}

.f_area {
	font-size:54px; 
	color:#656565;
	font-family: "Arial", Gadget, sans-serif;
	font-weight:bold;
	float:left;
	width:120px;
	margin:16px 0 0 0;
	padding:0;
	}
	
.f_sec {
	font-size:24px; 
	color:#3ab200;
	font-family: "微軟正黑體","新細明體","Adobe 黑体 Std R" ;
	font-weight:bold;
	line-height:18px;
	}
	
.f_sec1 {
	font-size:24px; 
	color:#3e3e3e;
	font-family: "微軟正黑體","新細明體","Adobe 黑体 Std R" ;
	font-weight:bold;
	line-height:18px;
	margin:10px 0 0 0;
	}

.remark_area1 {
	float:left;
    }	
	
.remark_area1 ul {
	margin:25px 0 0 20px;
	}
	
.remark_area1 ul li {
	float:left;
	margin:10px 0 0 0;
	width:170px;
	}
	
.color_area {
	display:inline-block;
	width:21px;
	height:21px;
	margin:5px 20px 0 0;
	}
	
.A {background:#3ab200;}
.B {background:#9cba7e;}
.C {background:#299a00;}
.D {background:#a7b862;}
.F {background:#26b5bf;}
.G {background:#3333ad;}
.H {background:#008fbe;}
.K {background:#bb7373;}
.J {background:#b69238;}
.O {background:#6e6e6e;}
.P {background:#b5aa5d;}
.Q {background:#e0c300;}
.R {background:#282828;}

	
.color_word {
	font-size:24px; 
	color:#313131;
	font-family: "微軟正黑體","新細明體","Adobe 黑体 Std R" ;
	font-weight:bold;
	line-height:18px;
	}

#inside_area  {
	width:1280px;
	margin:50px auto 50px;
}

.level_1 {
	background:url(../images/1f_inside.png) no-repeat;
	width:1200px;
	height:567px;
	margin:0 auto;
}

.level_1 div {
	float:left;
}

.level_1 a.but_a {
	display:block;
	background:url(../images/but_A.png) no-repeat;
	width:450px;
	height:94px;
	margin:0 0 0 13px;
}

.level_1 a.but_b {
	display:block;
	background:url(../images/but_B.png) no-repeat;
	width:456px;
	height:100px;
	margin:0 0 0 5px;
}

.level_1 a.but_c {
	display:block;
	background:url(../images/but_C.png) no-repeat;
	width:459px;
	height:101px;
	margin:0 0 0 1px;
}

.level_1 a.but_d {
	display:block;
	background:url(../images/but_D.png) no-repeat;
	width:29px;
	height:312px;
	margin:46px 0 0 -7px;
	float:left;
}

.level_1 a.but_f {
	display:block;
	background:url(../images/but_F.png) no-repeat;
	width:470px;
	height:37px;
	margin:26px 0 0 5px;
}

.level_1 a.but_g {
	display:block;
	background:url(../images/but_G.png) no-repeat;
	width:58px;
	height:318px;
	margin:55px 0 0 12px;
	float:left;
}

.level_1 a.but_h {
	display:block;
	background:url(../images/but_H.png) no-repeat;
	width:399px;
	height:40px;
	margin:0 0 0 -19px;
}

.level_1 a.but_j {
	display:block;
	background:url(../images/but_J.png) no-repeat;
	width:187px;
	height:159px;
	margin:12px 0 0 30px;
	float:left;
}

.level_1 a.but_k {
	display:block;
	background:url(../images/but_K.png) no-repeat;
	width:197px;
	height:157px;
	margin:12px 0 0 185px;
	float:left;
}

.level_1 a:hover {
	opacity:0.2;
}

/*格位選擇*/
.sec_title ul {
	margin:0;
	text-align:left;
	}
	
.sec_title ul li {
	float:left;
	margin:10px 0 0 0;
	width:200px;
	}

.remark_area2 {
	float:left;
    }	

.remark_area2 ul {
	margin:20px 0 0 20px;
	}

/*A區*/
.select_area_a li {
	float:left;
	}
	
.select_area_a li a {
	display:block;
	width:60px;
	height:194px;
	background-image:url(../images/A.png);
	}
	
.select_area_a li a:hover {
	display:block;
	width:60px;
	height:194px;
	background-image:url(../images/A_over.png);
	}
	
.select_area_a li.a_01 a {background-position:0 0;}
.select_area_a li.a_02 a {background-position:-112px 0;margin-left:30px;}
.select_area_a li.a_03 a {background-position:-220px 0;margin-left:30px;}
.select_area_a li.a_04 a {background-position:-429px 0;margin-left:60px;}
.select_area_a li.a_05 a {background-position:-607px 0;margin-left:60px;}
.select_area_a li.a_06 a {background-position:-719px 0;margin-left:30px;}
.select_area_a li.a_07 a {background-position:-812px 0;margin-left:20px;}

/*B區*/
.select_area_b div {
	float:left;
	}
	
.select_area_b li a {
	display:block;
	width:210px;
	height:60px;
	background-image:url(../images/B.png);
	}
	
.select_area_b li a:hover {
	display:block;
	width:210px;
	height:60px;
	background-image:url(../images/B_over.png);
	}
	
.select_area_b li.a_01 a {background-position:0 0;margin:0 60px 10px 0;}
.select_area_b li.a_02 a {background-position:0 -72px;margin:0 60px 10px 0;}
.select_area_b li.a_03 a {background-position:0 -139px;margin:0 60px 0 0;}
.select_area_b li.a_04 a {width:36px;height:199px;background-position:-340px 0;margin-right:60px;}
.select_area_b li.a_05 a {background-position:-482px 0;margin:0 0 10px 0;}
.select_area_b li.a_06 a {background-position:-482px -72px;margin:0 0 10px 0;}
.select_area_b li.a_07 a {background-position:-482px -139px;margin:0;}

/*C區*/
.select_area_c li {
	float:left;
	}
	
.select_area_c li a {
	display:block;
	width:60px;
	height:194px;
	background-image:url(../images/A.png);
	}
	
.select_area_c li a:hover {
	display:block;
	width:60px;
	height:194px;
	background-image:url(../images/C_over.png);
	}
	
.select_area_c li.a_01 a {background-position:0 0;}
.select_area_c li.a_02 a {background-position:-112px 0;margin-left:30px;}
.select_area_c li.a_03 a {background-position:-220px 0;margin-left:30px;}
.select_area_c li.a_04 a {background-position:-429px 0;margin-left:60px;}
.select_area_c li.a_05 a {background-position:-607px 0;margin-left:60px;}
.select_area_c li.a_06 a {background-position:-719px 0;margin-left:30px;}
.select_area_c li.a_07 a {background-position:-812px 0;margin-left:20px;}

/*D區*/

.select_area_d li {
	float:left;
	margin:30px 0 0 0;
	}
	
.select_area_d li a {
	display:block;
	width:392px;
	height:70px;
	background-image:url(../images/D.png);
	}
	
.select_area_d li a:hover {
	display:block;
	width:392px;
	height:70px;
	background-image:url(../images/D_over.png);
	}
	
.select_area_d li.a_01 a {background-position:0 0;}
.select_area_d li.a_02 a {width:102px;height:70;pxbackground-position:-498px 0;margin-left:20px;}
.select_area_d li.a_03 a {width:125px;height:70;background-position:-662px 0;margin-left:20px;}

/*F區*/
.select_area_f li {
	float:left;
	}
	
.select_area_f li a {
	display:block;
	width:46px;
	height:125px;
	background-image:url(../images/F.png);
	}
	
.select_area_f li a:hover {
	display:block;
	width:46px;
	height:125px;
	background-image:url(../images/F_over.png);
	}
	
.select_area_f li.a_01 a {background-position:0 0;}
.select_area_f li.a_02 a {background-position:-110px 0;margin-left:30px;}
.select_area_f li.a_03 a {background-position:-224px 0;margin-left:30px;}
.select_area_f li.a_04 a {background-position:-340px 0;margin-left:30px;}
.select_area_f li.a_05 a {background-position:-564px 0;margin-left:60px;}
.select_area_f li.a_06 a {background-position:-674px 0;margin-left:30px;}
.select_area_f li.a_07 a {background-position:-790px 0;margin-left:30px;}
.select_area_f li.a_08 a {background-position:-904px 0;margin-left:30px;}


/*G區*/
.select_area_g li {
	float:left;
	}
	
.select_area_g li a {
	display:block;
	width:46px;
	height:125px;
	background-image:url(../images/F.png);
	}
	
.select_area_g li a:hover {
	display:block;
	width:46px;
	height:125px;
	background-image:url(../images/G_over.png);
	}
	
.select_area_g li.a_01 a {background-position:0 0;}
.select_area_g li.a_02 a {background-position:-110px 0;margin-left:30px;}
.select_area_g li.a_03 a {background-position:-224px 0;margin-left:30px;}
.select_area_g li.a_04 a {background-position:-340px 0;margin-left:30px;}
.select_area_g li.a_05 a {background-position:-564px 0;margin-left:60px;}
.select_area_g li.a_06 a {background-position:-674px 0;margin-left:30px;}
.select_area_g li.a_07 a {background-position:-790px 0;margin-left:30px;}
.select_area_g li.a_08 a {background-position:-904px 0;margin-left:30px;}


/*H區*/
.select_area_h li {
	float:left;
	}
	
.select_area_h li a {
	display:block;
	width:46px;
	height:125px;
	background-image:url(../images/F.png);
	}
	
.select_area_h li a:hover {
	display:block;
	width:46px;
	height:125px;
	background-image:url(../images/H_over.png);
	}
	
.select_area_h li.a_01 a {background-position:0 0;}
.select_area_h li.a_02 a {background-position:-110px 0;margin-left:30px;}
.select_area_h li.a_03 a {background-position:-224px 0;margin-left:30px;}
.select_area_h li.a_04 a {background-position:-340px 0;margin-left:30px;}
.select_area_h li.a_05 a {background-position:-564px 0;margin-left:60px;}
.select_area_h li.a_06 a {background-position:-674px 0;margin-left:30px;}
.select_area_h li.a_07 a {background-position:-790px 0;margin-left:30px;}
.select_area_h li.a_08 a {background-position:-904px 0;margin-left:30px;}

/*K區*/
.select_area_k div {
	float:left;
	}
	
.select_area_k li a {
	display:block;
	width:40px;
	height:147px;
	background-image:url(../images/K.png);
	}
	
.select_area_k li a:hover {
	display:block;
	width:40px;
	height:147px;
	background-image:url(../images/K_over.png);
	}
	
.select_area_k li.a_01 a {width:22px;height:155px;background-position:0 -33px;margin-right:2px;margin-top:22px;}
.select_area_k li.a_02 a {background-position:-56px 0;margin-left:30px;float:left;}
.select_area_k li.a_03 a {background-position:-132px 0;margin-left:40px;float:left;}
.select_area_k li.a_04 a {background-position:-205px 0;margin-left:40px;float:left;}
.select_area_k li.a_05 a {width:236px;height:48px;background-position:-22px -147px;margin:0;float:left;}


/*J區*/
.select_area_j li {
	float:left;
	}
	
.select_area_j li a {
	display:block;
	width:46px;
	height:194px;
	background-image:url(../images/J.png);
	}
	
.select_area_j li a:hover {
	display:block;
	width:46px;
	height:194px;
	background-image:url(../images/J_over.png);
	}
	
.select_area_j li.a_01 a {background-position:0 0;}
.select_area_j li.a_02 a {background-position:-78px 0;margin-left:40px;}
.select_area_j li.a_03 a {background-position:-151px 0;margin-left:40px;}
.select_area_j li.a_04 a {background-position:-227px 0;margin-left:40px;}
.select_area_j li.a_05 a {width:22px;background-position:-298px 0;margin-left:40px;}

.a_area ul.a01 li{
	float:left;
	margin:0 5px;
	}

.a_area_title {
	font-size:18px; 
	color:#313131;
	font-family: "微軟正黑體","新細明體","Adobe 黑体 Std R" ;
	font-weight:bold;
	line-height:18px;
	margin:75px 0 0 0;
	}
	
.f_area_title {
	font-size:18px; 
	color:#313131;
	font-family: "微軟正黑體","新細明體","Adobe 黑体 Std R" ;
	font-weight:bold;
	line-height:18px;
	margin:25px 0 0 0;
	}
	
.f_area_title1 {
	font-size:18px; 
	color:#313131;
	font-family: "微軟正黑體","新細明體","Adobe 黑体 Std R" ;
	font-weight:bold;
	line-height:18px;
	margin:20px 0 20px 20px;
	width:56px;
	}
	
.f_area_title2 {
	font-size:18px; 
	color:#313131;
	font-family: "微軟正黑體","新細明體","Adobe 黑体 Std R" ;
	font-weight:bold;
	line-height:18px;
	margin:20px 0 20px 20px;
	float:left;
	}
	
.family_area {
	margin:0;
	float:left;
	}

.a_area ul.a01 li a {
	display:block;
	font-size:24px; 
	color:#fff;
	font-family: "Arial", Gadget, sans-serif;
	font-weight:bold;
	width:70px;
	height:70px;
	text-align:center;
	margin:0 auto 5px;
	padding:20px 0 0 0;
	background-color:#e0c300;
	border-radius:3px;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
	text-decoration:none;
	}
	
.a_area ul.a01 li font{
	display:block;
	font-size:12px; 
	color:#3e3e3e;
	font-family:"Arial", Gadget, sans-serif;
	margin:0 0 5px 0;
	}

.a_area ul.a01 li a.finish {background-color:#6e6e6e;color:#b6b6b6;}
.a_area ul.a01 li a.stop {background-color:#282828;color:#b6b6b6;}
.a_area ul.a01 li a.buy {background-color:#b5aa5d;}

.man_pict {
	float:left;
	margin:0 20px 0 0;
	}
	
.man_info {
	float:left;
	}
	
/* 表格版面: 481px 到 768px。樣式繼承自: 行動版面。 */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;sec_title
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* 桌面版面: 769px 到最大 1232px。樣式繼承自: 行動版面和表格版面。 */

@media only screen and (min-width: 769px) {
.gridContainer {
	width:96%;
	max-width:1920px;
	padding-left: 1%;
	padding-right: 1%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}